* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Helios;
  src: url("../../fonts/14788.otf"); }
header {
  width: 100%;
  height: 0;
  background: #fff;
  position: fixed;
  font-family: Helios, sans-serif;
  z-index: 10;
  padding-bottom: 10%;
  font-size: 1.2vw; }

.header__logo {
  width: 20%;
  height: auto;
  padding: 1% 0 1% 0;
  position: absolute;
  left: 2.5%; }

.header__menu {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__menu .header__menu-list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; }
  .header__menu .li {
    position: relative; }
  .header__menu li > ul {
    opacity: 0;
    flex-flow: column wrap;
    position: absolute;
    margin-left: -4%;
    list-style-type: none;
    text-align: center;
    background: #ffffff;
    z-index: 100; }
    .header__menu li > ul li {
      margin-top: 10px;
      padding-bottom: 3%;
      border-bottom: 1px solid #000; }
    .header__menu li > ul a {
      color: #000; }
  .header__menu li:hover > ul {
    opacity: 1; }
  .header__menu a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase; }

.header__tel-img {
  width: 2.5%;
  height: auto;
  position: absolute;
  top: 35%;
  left: 85%; }

.header__tel-number-top {
  position: absolute;
  top: 28%;
  left: 89%; }

.header__tel-number-bottom {
  position: absolute;
  top: 47%;
  left: 89%; }

footer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-family: Helios, sans-serif; }
  footer h3 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: bold; }
  footer span {
    font-size: 1.3vw; }

.footer__contacts {
  flex: 0 0 32%; }
  .footer__contacts h3 {
    display: block;
    position: absolute;
    margin: 20px 0 0 2.5%; }
  .footer__contacts img {
    width: 2.5vw;
    height: 50px;
    margin-left: 2.5%; }
  .footer__contacts .footer__position {
    display: flex;
    margin: 80px 0 0 5%; }
  .footer__contacts .footer__contacts-position-adress {
    display: flex;
    flex-flow: column wrap;
    margin-left: 10px; }
    .footer__contacts .footer__contacts-position-adress span {
      display: block; }
  .footer__contacts .footer__tel {
    display: flex;
    margin: 10px 0 0 5%; }
  .footer__contacts .footer__tel-numbers {
    display: flex;
    flex-flow: column wrap;
    margin: 10px 0 0 10px; }
    .footer__contacts .footer__tel-numbers span {
      display: block; }
  .footer__contacts .footer__email {
    display: flex;
    align-items: center;
    margin: 10px 5%; }
  .footer__contacts .footer__email-text {
    margin: 10px 0 0 10px; }

.footer__inform {
  flex: 0 0 32%; }
  .footer__inform h3 {
    display: block;
    margin-top: 20px; }
  .footer__inform .footer__inform-text {
    margin-top: 30px; }
  .footer__inform span {
    display: block; }
  .footer__inform .footer__inform-span-2 {
    margin-top: 10px; }

.footer__news {
  flex: 0 0 28%; }
  .footer__news h3 {
    display: block;
    margin-top: 20px; }
  .footer__news .footer__news-text {
    margin-top: 30px; }

/*# sourceMappingURL=style.css.map */
