body {
    font-family: "Myriad Pro",Helvetica, Arial, sans-serif;
}

    .header {
        width: 100%;
        padding-bottom: 20vh;
        background: url("../../../../Variety template/app/header/img/header.png") no-repeat center;
        background-size: cover;
        text-align: center;

        /*.header__btn {
            padding: .5em 1em;
            left: 50%;
            transform: translateX(-50%);
            bottom: -5%;
            background: #e74c3c;
            border: 6px solid rgba(241,150,140,0.50);
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.3vw;
        }*/

    }

    .header__top-container {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .header__logo {
        font-size: 3vw;
        color: #fff;
        text-transform: uppercase;
    }

    .header__mobile-icon {
        position: absolute;
        right: 0px;
        color: #fff;
        font-size: 3vw;

        @media all and (min-width: 769px) {
            & {
                display: none;
            }
        }
    }

    .header__menu {

        @media all and (max-width: $breakpoint-mobile) {
            & {
                width: 80%;
                position: absolute;
                top: 1vw;
                right: -4%;
            }
        }

        .header__menu-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding-left: 0;

            @media all and (max-width: $breakpoint-mobile) {
                & {
                    text-align: right;
                }
            }

            .header__menu-item {
                list-style-type: none;
                margin-right: 1em;
                padding: 0;

                @media all and (max-width: $breakpoint-mobile) {
                    &  {
                        margin: 5px 0 0 0;
                    }
                    
                }

                .header__menu-link {
                    font-size: 2.5vw;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        color: $red-color;
                        transition: color .5s;
                    }
                }

                .header__menu-link-underground {
                    border-bottom: 1px solid #fff;
                }
            }

        }

    }

    .header__bottom-container {
        width: 80%;
        margin: auto;
        transform: translateY(30%);

        .header__title {
            color: #fff;
            font-size: 6vw;
        }

        @media all and (max-width: $breakpoint-mobile) {
            .header__title {
                padding-top: 30px;
            }
        }

        .header__line {
            height: 1px;
            margin: 0px auto 20px;
            background-color: #fff;
        }

        .header__design-kinds {
            display: block;
            color: #fff;
            font-size: 2vw;
        }

        .header__btn {
            margin: auto;
            transform: translateY(100%);
            padding: .5em 1em;
            background: #e74c3c;
            border: 6px solid rgba(241,150,140,0.50);
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.3vw;
        } 
    }



/*@media screen and (max-width: 768px){
    .top-header__top-menu-mobile {
        width: 40%;
        height: 500px;
        background: #fff;
        position: absolute;
        right: -35%;
        font-size: 20px;
        line-height: 1.2;

        .top-header__list-mobile {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 0px 0 0 5%;
        }

        .top-header__list-item-mobile {
            width: 100%;
            padding-bottom: 3px;
            list-style-type: none;
        }

        .top-header__list-link-mobile {
            color: #000;
            text-decoration: none;
            transition: color .5s;
        }

        .top-header__list-link-mobile:hover { 
            color: $red-color;
        }

        .top-header__list-link-active {
            padding-bottom: 3px;
            border-bottom: 1px solid #000;
        }
    }

    .top-header-change {
        transform: translateX(-256px);
    }

    .top-header__top-menu-mobile-change {
        transform: translateX(-250px);
        transition: transform 2s;
    }
        .top-header {
        width: 100%;
        height: 500px;
        background: url('../../../Variety template/header/img/header.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .top-header__logo {
        position: absolute;
        top: 58px;
        left: 10%;
        color: #fff;
        text-transform: uppercase;
        font-size: 25px;
        line-height: 1.2;
    }

    .top-header__top-menu-desktop {
        display: none;
    }

    .top-header__mobile-menu-btn {
        width: 25px;
        position: absolute;
        top: 58px;
        right: 10%;

        .top-header__mobile-menu-btn-span {
            display: block;
            width: 100%;
            height: 5px;
            background: #fff;
            position: absolute;
        }
    

    .top-header__mobile-menu-btn-span-1 {
        top: 0px;
    }

    .top-header__mobile-menu-btn-span-1-change {
        transform: rotate(45deg);
        transition: transform .3s;
    }

    .top-header__mobile-menu-btn-span-2 {
        top: 10px;
    }

    .top-header__mobile-menu-btn-span-2-change {
        display: none;
    }

    .top-header__mobile-menu-btn-span-3 {
        top: 20px;
    }

    .top-header__mobile-menu-btn-span-3-change {
        transform: rotate(-45deg) translate(13px,-14px);
        transition: transform .3s;
    }
}

    .top-header {
        width: 100%;
        height: 500px;
        background: url('../../../Variety template/header/img/header.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
        top: -50px;
    }

    .top-header__menu-desktop {
        display: none;
    }

    

    .top-header__top-block-mobile {
        width: 100%;
        height: 50px;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 100;

        .top-header__mobile-logo {
            position: absolute;
            left: 10%;
            flex-basis: 10%;
            height: 30px;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 1.3em;
            text-transform: capitalize;
        }

        .top-header__mobile-menu-btn {
            position: absolute;
            top: 25%;
            left: 83%;
            flex-basis: 10%;
            height: 27px;
            align-self: center;
            position: absolute;

            .top-header__mobile-menu-btn-span {
                display: block;
                width: 100%;
                height: 7px;
                background: #fff;
                position: absolute;
            }

            .top-header__mobile-menu-btn-span-1 {
                position: absolute;
                top: 0;
            }

            .top-header__mobile-menu-btn-span-2 {
                position: absolute;
                top: 10px;
            }

            .top-header__mobile-menu-btn-span-3 {
                position: absolute;
                top: 20px;
            }
        }

        .top-header__mobile-menu {
            width: 100%;
            position: fixed;
            top: 50px;
            background: #222;
            text-align: right;
            display: none;

            .top-header__list-mobile {
                width: 100%;
                height: 100px;
            }

            li {
                margin: 10px 20% 10px 0;
                list-style-type: none;
            }


            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: $red-color;
                }
            }
        }

        .top-header__change-mobile-menu {
            display: block;
            height: 130px;
            transition: height 2s;
        }

        
    }

    .top-header__change-top-block-mobile {
        top: 20px;
    }
    
    .top-header__h1 {
       width: 100%;
       display: inline-block;
       position: absolute;
       top: 250px;
       color: #fff;
       font-size: 23px;
       text-align: center;
    }

    @media screen and (min-width: 550px) and (max-width: 768px){
        .top-header__h1 {
            top: 240px;
            font-size: 28px;
        }
    }

    .top-header__divider {
        width: 51.2%;
        height: 1px;
        position: absolute;
        top: 308px;
        left: 24.6%;
        background-color: #fff;
    }

    .top-header__h2 {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 313px;
        font-size: 15px;
        color: #fff;
        text-align: center;
    }

    .top-header__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 472px;
        left: 25%;
        width: 50%;
        height: 57px;
        background: $red-color;
        box-shadow: 0 0 1px 10px #d2655a;
        transition: box-shadow 1s ease-in-out;

        .top-header__btn-text {
            color: #fff;
            font-size: 24px;
            line-height: 1.2;
            font-family: "Rokkitt";
            text-transform: uppercase;
        }
    }

}


@media screen and (min-width: 769px){

    .top-header__mobile-menu {
        display: none;
    }

    .top-header__mobile-logo {
        display: none;
    }

    .top-header {
        margin: 0;
        width: 100%;
        height: 500px;
        background: url('../../../Variety template/header/img/header.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .top-header__menu-desktop {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;

        .top-header__desktop-logo {
            flex-basis: 10%;
            color: #fff;
            text-transform: uppercase;
            font-size: 25px;
            line-height: 1.2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .top-header__list-desktop {
            flex-basis: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
        }

        .top-header__list-link-desktop {
            color: #fff;
            text-decoration: none;
        

            &:hover {
                color: $red-color;
                transition: color .5s;
            }
        }
    }
    
    
    .top-header__h1 {
       width: 100%;
       display: inline-block;
       position: absolute;
       top: 223px;
       color: #fff;
       font-size: 41px;
       text-align: center;
    }

    .top-header__divider {
        width: 51.2%;
        height: 1px;
        position: absolute;
        top: 308px;
        left: 24.6%;
        background-color: #fff;
    }

    .top-header__h2 {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 313px;
        font-size: 15px;
        color: #fff;
        text-align: center;
    }
    
        .top-header__btn {
            position: absolute;
            top: 478px;
            left: 41.4%;
            width: 17.2%;
            height: 45px;
            background: $red-color;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        
        }

        .top-header__btn-text {
            color: #fff;
            font-size: 14px;
            line-height: 1.2;
            font-family: "Rokkitt";
            text-transform: uppercase;
            font-weight: bold;
        }
    
    

    
      

}*/