@media screen and (max-width: 768px){
     .blog {
         width: 100%;
         border-top: 2px solid #e3e3e3;
     }

     .blog-title {
         text-align: center;
         font-size: 27px;
     }

     .blog__title {
        margin: 20px auto 0px auto;
     }

     .articles-title {
         display: none;
     }

     .blog__articles-title {
        margin-left: 5px;
     }

     .blog__posts {
        width: 100%;
        margin: 10px auto 103px auto;
    }

     .posts {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;

        .posts__post {
            flex-basis: 100%;
        }

        .post__img-container {
            width: 50%;
            margin: 30px auto;
 
            .post__img-1 {
                max-width: 100%;
                height: auto;
            }
 
            .post__img-2 {
                max-width: 100%;
                height: auto;
            }
         }

        .post__title {
            text-align: center;
            margin-top: 23px;
            font-size: 20px;
        }

        .post__text {
            text-align: center;
            margin-top: 18px;
            font-size: 18px;
        }
     }
}

@media screen and (min-width: 769px){
    .blog {
        width: 100%;
        border-top: 2px solid #e3e3e3;
        position: relative;
    }
    
    .blog-title {
       text-align: left;
       font-size: 25px;
    }

    .blog__title {
       width: 10%;
       position: absolute;
       top: 50px;
       left: 10.5%;
    }

    .blog__articles-title {
        position: absolute;
        top: 50px;
        right: 5%;
    }

    .articles-title {
        font-size: 16px;
    }

    .blog__posts {
       width: 80%;
       margin: 90px auto 50px auto;
   }

   @media screen and (min-width: 1441px) {

    .blog__title {
        left: 20.5%;
     }

     .blog__articles-title {
        right: 20%;
    }

       .blog__posts {
           width: 60%;
           margin: 90px auto 100px auto;
       }

       .posts {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;

       }

       .post__img-container {
        flex-basis: 30%;
        height: 100px;

       }
        
        .post__img-1 {
            max-width: 100%;
            height: auto;
        }
       

       .post__text-block {
        width: 50%;
      }
   }

    .posts {
       display: flex;
       justify-content: space-between;
       flex-flow: row nowrap;

       .posts__post {
           flex-basis: 48%;
        }

       .post {
          display: flex;
          justify-content: space-between;

       .post__img-container {
           flex-basis: 50%;
           height: 190px;

           .post__img-1 {
               max-width: 100%;
               height: auto;
           }

           .post__img-2 {
               max-width: 100%;
               height: auto;
           }
        }

       .post__text-block {
         flex-basis: 45%;
       }

       .post__title {
           flex-basis: 100%;
           text-align: justify;
           margin-top: 10px;
           font-size: 16px;
       }

       .post__text {
           display: block;
           flex-basis: 100%;
           text-align: justify;
           margin-top: 38px;
           font-size: 13px;
       }
     }
   }
} 

