@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 140px;
    position: relative; }
    .header .logo {
      width: 47.5%;
      height: 76px;
      position: absolute;
      top: 62px;
      left: 7%; }
      .header .logo .logo__img {
        max-width: 100%;
        height: 10vh; }
    .header .menu-word {
      position: absolute;
      top: 77px;
      right: 16.1%;
      font-size: 19px; }
    .header .menu-icon {
      width: 5.9%;
      height: 26px;
      position: absolute;
      top: 67px;
      left: 88%;
      cursor: pointer; }
      .header .menu-icon .menu-icon__item {
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 10px;
        background: #1d1c1c; }
    .header .right-menu {
      width: 100%;
      display: none;
      position: absolute;
      top: 140px;
      text-align: right;
      z-index: 10;
      background: #9297a7; }
      .header .right-menu .right-menu__link {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 18px; }
    .header .left-menu {
      display: none; }
    .header .btn {
      display: none; } }
@media screen and (min-width: 769px) {
  .header {
    width: 100%;
    height: 50px;
    position: relative; }

  .logo {
    max-width: 13.2%;
    position: absolute;
    top: 15px;
    left: 5%; }
    .logo .logo__img {
      max-width: 100%;
      height: auto; }

  .menu-word {
    display: none; }

  .menu-icon {
    display: none; }

  .left-menu {
    position: absolute;
    top: 20px;
    left: 20%;
    font-size: 0.8em; }
    .left-menu .left-menu__list {
      width: 100%; }
    .left-menu .left-menu__list-item {
      display: inline-block;
      list-style-type: none; }
    .left-menu .left-menu__link {
      display: block;
      padding-left: 10px;
      color: #9a9a9a;
      text-decoration: none; }
    .left-menu .left-menu__first-link {
      color: #1d1c1c; }

  .right-menu {
    position: absolute;
    top: 20px;
    left: 46%;
    font-size: 0.8em; }
    .right-menu .right-menu__list {
      width: 100%; }
    .right-menu .right-menu__list-item {
      display: inline-block;
      list-style-type: none; }
    .right-menu .right-menu__link {
      display: block;
      padding-left: 10px;
      text-decoration: none;
      color: #1d1c1c; }

  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #8dc33e;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; }
    .btn .btn__link {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      font-size: 0.8em; }

  .header__btn {
    width: 15%;
    height: 40px;
    position: absolute;
    top: 7px;
    left: 83%; } }

/*# sourceMappingURL=header.css.map */