@media all and (min-width: 769px) {
  .main__title {
    margin: 15% auto 0 2.5%;
    font-size: 1.5vw;
    font-weight: normal;
  }
}

@media all and (max-width: 768px) {
  .main__title {
    margin-top: 10%;
    text-align: center;
    font-size: 4.2vw;
    font-weight: normal;
  }
}

@media all and (min-width: 769px) {
  .main__description {
    margin: 2% auto 0 2.5%;
    font-size: 1.3vw;
    font-weight: normal;
  }
}

@media all and (max-width: 768px) {
  .main__description {
    margin: auto;
    text-align: center;
    font-size: 4vw;
    margin-top: 5%;
    font-weight: normal;
  }
}

@media all and (min-width: 769px) {
  .filters {
    width: 100%;
    margin: 3% auto 0 2.5%;
    display: -webkit-box;
    display: flex;
  }
}

@media all and (max-width: 768px) {
  .filters {
    width: 100%;
    margin: 5% 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

@media all and (min-width: 769px) {
  .filter {
    -webkit-box-flex: 0;
    flex: 0 0 30%;
    text-align: left;
  }
}

@media all and (max-width: 768px) {
  .filter {
    -webkit-box-flex: 0;
    flex: 0 0 30%;
    margin-bottom: 5%;
    text-align: center;
  }
}

  .filter__img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .filter__text {
    width: 100%;
    margin-top: 5%;
  }

@media all and (min-width: 769px) {
  .filter__text span {
    display: block;
    margin-top: 3%;
    font-size: 1.2vw;
  }
}

@media all and (max-width: 768px) {
  .filter__text span {
    display: block;
    margin-top: 3%;
    font-size: 4vw;
  }
}
