@media all and (min-width: 769px) {
  .main__title {
    margin: 15% auto 0 2.5%;
    font-size: 1.5vw;
    font-weight: normal;
    text-transform: uppercase;
  }
}

@media all and (max-width: 768px) {
  .main__title {
    margin-top: 10%;
    text-align: center;
    font-size: 4.5vw;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.filters {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}


@media all and (min-width: 769px) {
  .filter {
    width: 90%;
    display: -webkit-box;
    display: flex;
  }
}

@media all and (max-width: 768px) {
  .filter {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-size: 4vw;
  }
}

@media all and (min-width: 769px) {
  .filter img {
    width: 30%;
  }
}

@media all and (max-width: 768px) {
  .filter img {
    width: 70%;
    margin: 5% auto;
  }
}

.filter__description {
  flex-basis: 60%;
}

@media all and (min-width: 769px) {
  .filter-center img {
    display: block;
    margin-right: 5%;
  }
}

@media all and (min-width: 769px) {
  .filter__description h4 {
    display: block;
    margin: 2% 4.5%;
    font-size: 1.3vw;
    font-weight: normal;
  }
}

@media all and (max-width: 768px) {
  .filter__description h4 {
    margin-top: 5%;
    text-align: center;
    font-size: 4.1vw;
    font-weight: normal;
  }
}

.filter__description span {
  display: block;
  margin: 2% 4.5%;
  font-size: 1.2vw;
}

@media all and (max-width: 768px) {
  .filter__description span {
    text-align: center;
    font-size: 4vw;
  }
}

.filter__description ul {
  margin: 3% 4.5%;
  font-size: 1.2vw;
  list-style-type: none;
}

@media all and (max-width: 768px) {
  .filter__description ul {
    text-align: center;
    font-size: 4vw;
  }
}

.filter__description ul li {
  margin-top: 2%;
}

.filter__description-bottom h4 {
  margin-left: 0%;
}

.filter__description-bottom ul {
  margin-left: 0%;
}

.samples {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

@media all and (min-width: 769px) {
  .samples h2 {
    font-size: 1.5vw;
    font-weight: normal;
  }
}

@media all and (max-width: 768px) {
  .samples h2 {
    font-size: 4.5vw;
    font-weight: normal;
  }
}

@media all and (min-width: 769px) {
  .samples img {
    width: 60%;
    margin: 0 auto;
  }
}

@media all and (max-width: 768px) {
  .samples img {
    width: 100%;
    margin: 5% auto;
  }
}