* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Helios;
    src: url('../fonts/14788.otf');
}

body {
    display: flex;
    flex-flow: column wrap;
}


header {
    width: 100vw;
    height: 100px;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Helios;
    position: fixed;
    z-index: 10;
}

.header-change {
    height: 50px;
    transition: height 1s;
}

.header__flex-element {
    box-sizing: border-box;
}

.header__logo {
   flex-basis: 15%;
   height: 70px;
   margin-right: -10%;

    .header__logo-img {
       width: 100%;
       height: auto;
   }

    .header__min-logo-img {
        display: none;
    }

    .header__min-logo-img-change {
        display: block;
        height: 20px;
        margin: 40px 0 0 85%;
    }
}

.header__logo-change {
    flex-basis: 10%;
    margin-right: -10%;
    transform: translate(-100px,10px);
    transition-property: flex-basis, transform;
    transition-duration: 1s;
}

.header__menu {
    flex: 0 0 50%;
    margin-right: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    

    .header__menu-list {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }

    .li {
        position: relative;
    }

    li > ul {
        opacity: 0;
        flex-flow: column wrap;
        position: absolute;
        margin-left: -2%;
        list-style-type: none;
        text-align: center;
        background: #ffffff;
        z-index: 100;
    
        li {
            margin-top: 10px;
            padding-bottom: 3%;
            border-bottom: 1px solid #000;
        }
    
        a {
            color :#000;
        }
    }

    li:hover > ul {
        opacity: 1;
    }
    
    a {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
    }
}

.header__menu-change {
    flex: 0 0 55%;
    transform: translate(-280px,0px);
    transition: transform 1s;
}

.header__contacts {
    flex: 0 0 15%;
    margin-right: -5%;
    display: flex;
    flex-flow: column wrap;
}

.header__tel {
    display: flex;
    height: 50px;

    .header__tel-icon {
       max-width: 100%;
       height: 50px;
    }
    
    .header__tel-numbers {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        box-sizing: border-box;

        .header__tel-number {
            font-size: 1em;
            display: inline-block;
            margin-top: 5px;
        }
    }
}

.header__email {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .header__mail-icon {
       max-width: 100%;
       height: 50px;
    }

    .header__mail-name {
        display: inline-block;
        margin: 10px 0 0 5%;
        font-size: 1em;
    }
    
}