* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Helios;
    src: url('../../fonts/14788.otf');
}

body {
    display: flex;
    flex-flow: column wrap;
}


header {
    width: 100%;
    height: 120px;
    background: #fff;
    position: fixed;
    font-family: Helios;
    z-index: 10;
    font-size: 0.9em;
}

.header__logo {
   width: 20%;
   position: absolute;
   left: 2.5%;

    .header__logo-img {
       display: block;
       width: 100%;
       height: auto;
   }
}

.header__menu {
    width: 50%;
    position: absolute;
    top: 45px;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .header__menu-list {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }

    .li {
        position: relative;
    }

    li > ul {
        opacity: 0;
        flex-flow: column wrap;
        position: absolute;
        margin-left: -4%;
        list-style-type: none;
        text-align: center;
        background: #ffffff;
        z-index: 100;
    
        li {
            margin-top: 10px;
            padding-bottom: 3%;
            border-bottom: 1px solid #000;
        }
    
        a {
            color :#000;
        }
    }

    li:hover > ul {
        opacity: 1;
    }
    
    a {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
    }
}

.header__contacts {
    width: 15%;
    position: absolute;
    top: 25px;
    right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__tel-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;

        .header__tel-icon {
            max-width: 100%;
            height: 50px;
        }
    
    }
    
    .header__tel-numbers {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        margin: 5px 0 0 0;

        .header__tel-number {
            font-size: 1em;
        }
    }
}

