body {
  font-family: "Myriad Pro",Helvetica, Arial, sans-serif; }

.header {
  width: 100%;
  padding-bottom: 20vh;
  background: url("../../../../Variety template/app/header/img/header.png") no-repeat center;
  background-size: cover;
  text-align: center;
  /*.header__btn {
      padding: .5em 1em;
      left: 50%;
      transform: translateX(-50%);
      bottom: -5%;
      background: #e74c3c;
      border: 6px solid rgba(241,150,140,0.50);
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.3vw;
  }*/ }

.header__top-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }

.header__logo {
  font-size: 3vw;
  color: #fff;
  text-transform: uppercase; }

.header__mobile-icon {
  position: absolute;
  right: 0px;
  color: #fff;
  font-size: 3vw; }
  @media all and (min-width: 769px) {
    .header__mobile-icon {
      display: none; } }

@media all and (max-width: 768px) {
  .header__menu {
    width: 80%;
    position: absolute;
    top: 1vw;
    right: -4%; } }
.header__menu .header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding-left: 0; }
  @media all and (max-width: 768px) {
    .header__menu .header__menu-list {
      text-align: right; } }
  .header__menu .header__menu-list .header__menu-item {
    list-style-type: none;
    margin-right: 1em;
    padding: 0; }
    @media all and (max-width: 768px) {
      .header__menu .header__menu-list .header__menu-item {
        margin: 5px 0 0 0; } }
    .header__menu .header__menu-list .header__menu-item .header__menu-link {
      font-size: 2.5vw;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase; }
      .header__menu .header__menu-list .header__menu-item .header__menu-link:hover {
        color: #e74c3c;
        -webkit-transition: color .5s;
        transition: color .5s; }
    .header__menu .header__menu-list .header__menu-item .header__menu-link-underground {
      border-bottom: 1px solid #fff; }

.header__bottom-container {
  width: 80%;
  margin: auto;
  -webkit-transform: translateY(30%);
          transform: translateY(30%); }
  .header__bottom-container .header__title {
    color: #fff;
    font-size: 6vw; }
  @media all and (max-width: 768px) {
    .header__bottom-container .header__title {
      padding-top: 30px; } }
  .header__bottom-container .header__line {
    height: 1px;
    margin: 0px auto 20px;
    background-color: #fff; }
  .header__bottom-container .header__design-kinds {
    display: block;
    color: #fff;
    font-size: 2vw; }
  .header__bottom-container .header__btn {
    margin: auto;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    padding: .5em 1em;
    background: #e74c3c;
    border: 6px solid rgba(241, 150, 140, 0.5);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3vw; }

/*@media screen and (max-width: 768px){
    .top-header__top-menu-mobile {
        width: 40%;
        height: 500px;
        background: #fff;
        position: absolute;
        right: -35%;
        font-size: 20px;
        line-height: 1.2;

        .top-header__list-mobile {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 0px 0 0 5%;
        }

        .top-header__list-item-mobile {
            width: 100%;
            padding-bottom: 3px;
            list-style-type: none;
        }

        .top-header__list-link-mobile {
            color: #000;
            text-decoration: none;
            transition: color .5s;
        }

        .top-header__list-link-mobile:hover { 
            color: $red-color;
        }

        .top-header__list-link-active {
            padding-bottom: 3px;
            border-bottom: 1px solid #000;
        }
    }

    .top-header-change {
        transform: translateX(-256px);
    }

    .top-header__top-menu-mobile-change {
        transform: translateX(-250px);
        transition: transform 2s;
    }
        .top-header {
        width: 100%;
        height: 500px;
        background: url('../../../Variety template/header/img/header.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .top-header__logo {
        position: absolute;
        top: 58px;
        left: 10%;
        color: #fff;
        text-transform: uppercase;
        font-size: 25px;
        line-height: 1.2;
    }

    .top-header__top-menu-desktop {
        display: none;
    }

    .top-header__mobile-menu-btn {
        width: 25px;
        position: absolute;
        top: 58px;
        right: 10%;

        .top-header__mobile-menu-btn-span {
            display: block;
            width: 100%;
            height: 5px;
            background: #fff;
            position: absolute;
        }
    

    .top-header__mobile-menu-btn-span-1 {
        top: 0px;
    }

    .top-header__mobile-menu-btn-span-1-change {
        transform: rotate(45deg);
        transition: transform .3s;
    }

    .top-header__mobile-menu-btn-span-2 {
        top: 10px;
    }

    .top-header__mobile-menu-btn-span-2-change {
        display: none;
    }

    .top-header__mobile-menu-btn-span-3 {
        top: 20px;
    }

    .top-header__mobile-menu-btn-span-3-change {
        transform: rotate(-45deg) translate(13px,-14px);
        transition: transform .3s;
    }
}

    .top-header {
        width: 100%;
        height: 500px;
        background: url('../../../Variety template/header/img/header.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
        top: -50px;
    }

    .top-header__menu-desktop {
        display: none;
    }

    

    .top-header__top-block-mobile {
        width: 100%;
        height: 50px;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 100;

        .top-header__mobile-logo {
            position: absolute;
            left: 10%;
            flex-basis: 10%;
            height: 30px;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 1.3em;
            text-transform: capitalize;
        }

        .top-header__mobile-menu-btn {
            position: absolute;
            top: 25%;
            left: 83%;
            flex-basis: 10%;
            height: 27px;
            align-self: center;
            position: absolute;

            .top-header__mobile-menu-btn-span {
                display: block;
                width: 100%;
                height: 7px;
                background: #fff;
                position: absolute;
            }

            .top-header__mobile-menu-btn-span-1 {
                position: absolute;
                top: 0;
            }

            .top-header__mobile-menu-btn-span-2 {
                position: absolute;
                top: 10px;
            }

            .top-header__mobile-menu-btn-span-3 {
                position: absolute;
                top: 20px;
            }
        }

        .top-header__mobile-menu {
            width: 100%;
            position: fixed;
            top: 50px;
            background: #222;
            text-align: right;
            display: none;

            .top-header__list-mobile {
                width: 100%;
                height: 100px;
            }

            li {
                margin: 10px 20% 10px 0;
                list-style-type: none;
            }


            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: $red-color;
                }
            }
        }

        .top-header__change-mobile-menu {
            display: block;
            height: 130px;
            transition: height 2s;
        }

        
    }

    .top-header__change-top-block-mobile {
        top: 20px;
    }
    
    .top-header__h1 {
       width: 100%;
       display: inline-block;
       position: absolute;
       top: 250px;
       color: #fff;
       font-size: 23px;
       text-align: center;
    }

    @media screen and (min-width: 550px) and (max-width: 768px){
        .top-header__h1 {
            top: 240px;
            font-size: 28px;
        }
    }

    .top-header__divider {
        width: 51.2%;
        height: 1px;
        position: absolute;
        top: 308px;
        left: 24.6%;
        background-color: #fff;
    }

    .top-header__h2 {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 313px;
        font-size: 15px;
        color: #fff;
        text-align: center;
    }

    .top-header__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 472px;
        left: 25%;
        width: 50%;
        height: 57px;
        background: $red-color;
        box-shadow: 0 0 1px 10px #d2655a;
        transition: box-shadow 1s ease-in-out;

        .top-header__btn-text {
            color: #fff;
            font-size: 24px;
            line-height: 1.2;
            font-family: "Rokkitt";
            text-transform: uppercase;
        }
    }

}


@media screen and (min-width: 769px){

    .top-header__mobile-menu {
        display: none;
    }

    .top-header__mobile-logo {
        display: none;
    }

    .top-header {
        margin: 0;
        width: 100%;
        height: 500px;
        background: url('../../../Variety template/header/img/header.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .top-header__menu-desktop {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;

        .top-header__desktop-logo {
            flex-basis: 10%;
            color: #fff;
            text-transform: uppercase;
            font-size: 25px;
            line-height: 1.2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .top-header__list-desktop {
            flex-basis: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
        }

        .top-header__list-link-desktop {
            color: #fff;
            text-decoration: none;
        

            &:hover {
                color: $red-color;
                transition: color .5s;
            }
        }
    }
    
    
    .top-header__h1 {
       width: 100%;
       display: inline-block;
       position: absolute;
       top: 223px;
       color: #fff;
       font-size: 41px;
       text-align: center;
    }

    .top-header__divider {
        width: 51.2%;
        height: 1px;
        position: absolute;
        top: 308px;
        left: 24.6%;
        background-color: #fff;
    }

    .top-header__h2 {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 313px;
        font-size: 15px;
        color: #fff;
        text-align: center;
    }
    
        .top-header__btn {
            position: absolute;
            top: 478px;
            left: 41.4%;
            width: 17.2%;
            height: 45px;
            background: $red-color;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        
        }

        .top-header__btn-text {
            color: #fff;
            font-size: 14px;
            line-height: 1.2;
            font-family: "Rokkitt";
            text-transform: uppercase;
            font-weight: bold;
        }
    
    

    
      

}*/
@media screen and (min-width: 769px) {
  .about {
    width: 100%;
    text-align: center; }

  .about__title {
    margin-top: 130px;
    text-transform: uppercase;
    color: #e74c3c;
    font-size: 25px; }

  .about__text {
    width: 63.5%;
    margin: 55px auto;
    font-size: 14px;
    color: #95a5a6; }

  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .about__skills {
    width: 79.9%;
    margin: 77px auto; }

  .about__skills-item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: center; }
    .about__skills-item .about__skills-title {
      color: #e74c3c;
      font-size: 20px; }
    .about__skills-item .about__skills-text {
      color: #95a5a6;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.2; } }
@media screen and (max-width: 768px) {
  .about {
    width: 100%;
    text-align: center; }

  .about__title {
    margin-top: 130px;
    text-transform: uppercase;
    color: #e74c3c;
    font-size: 25px; }

  .about__text {
    width: 63.5%;
    margin: 55px auto;
    font-size: 14px;
    color: #95a5a6; }

  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .about__skills {
    width: 79.9%;
    margin: 77px auto; }

  .about__skills-item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: center; }
    .about__skills-item .about__skills-title {
      color: #e74c3c;
      font-size: 20px; }
    .about__skills-item .about__skills-text {
      color: #95a5a6;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.2; } }
@media screen and (max-width: 992px) {
  .portfolio {
    width: 100%; }

  .portfolio__border-top {
    width: 80%;
    height: 1px;
    margin: 75px auto;
    background: #e4e8e8; }

  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between; }

  .portfolio__works {
    width: 80%;
    margin: 74px auto; }

  .portfolio__work {
    width: 100%;
    margin-bottom: 30px;
    position: relative; }

  .portfolio__img {
    width: 100%; }

  .portfolio__search {
    position: absolute;
    right: 7%;
    top: 26px;
    width: 10%;
    height: 10%;
    background: #e74c3c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-box-shadow: 0 0 0 5px #b33125;
            box-shadow: 0 0 0 5px #b33125; } }
@media screen and (max-width: 992px) and (min-width: 320px) and (max-width: 450px) {
  .portfolio__search {
    width: 15%;
    height: 15%; } }
@media screen and (max-width: 992px) {
  .portfolio__work-description {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    background: #e74c3c;
    -webkit-box-shadow: 0 -5px 0  #982e24;
            box-shadow: 0 -5px 0  #982e24; }
    .portfolio__work-description .portfolio__work-description-title {
      position: absolute;
      top: 23px;
      left: 1.7%;
      color: #fff;
      font-size: 17px; }
    .portfolio__work-description .portfolio__work-description-text {
      position: absolute;
      top: 55px;
      left: 1.7%;
      color: #9d3b31;
      font-size: 10px; } }
  @media screen and (max-width: 992px) and (min-width: 401px) and (max-width: 700px) {
    .portfolio__work-description .portfolio__work-description-title {
      font-size: 30px; }
    .portfolio__work-description .portfolio__work-description-text {
      top: 65px;
      font-size: 20px; } }
  @media screen and (max-width: 992px) and (min-width: 701px) and (max-width: 992px) {
    .portfolio__work-description .portfolio__work-description-title {
      font-size: 50px; }
    .portfolio__work-description .portfolio__work-description-text {
      top: 85px;
      font-size: 37px; } }

@media screen and (max-width: 992px) {
  .portfolio__work:hover {
    cursor: pointer; }
  .portfolio__work:hover .portfolio__work-description {
    display: block; }
  .portfolio__work:hover .portfolio__search {
    opacity: 1; }

  .portfolio__btn {
    width: 50vw;
    height: 70px;
    margin: 75px auto;
    background: #e74c3c;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .portfolio__btn .portfolio__btn-title {
      display: block; }
    .portfolio__btn .portfolio__btn-img {
      width: 5vw; }
    .portfolio__btn .portfolio__btn-block-inner {
      width: 70%;
      margin: 0 auto;
      font-size: 4vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
@media screen and (max-width: 992px) and (min-width: 320px) and (max-width: 500px) {
  .portfolio__btn {
    height: 40px; } }
@media screen and (max-width: 992px) {
  .portfolio__btn:hover {
    background: #fff;
    border: 1px solid #e74c3c;
    color: #e74c3c;
    cursor: pointer; }

  .portfolio__btn-img-red {
    display: none;
    width: 5vw; }

  .portfolio__btn:hover .portfolio__btn-img-red {
    display: block; } }
@media screen and (min-width: 993px) {
  .portfolio {
    width: 100%; }

  .portfolio__border-top {
    width: 80%;
    height: 1px;
    margin: 75px auto;
    background: #e4e8e8; }

  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between; }

  .portfolio__works {
    width: 900px;
    margin: 74px auto; }

  .portfolio__work {
    width: 45%;
    margin-bottom: 30px;
    position: relative; }

  .portfolio__search {
    position: absolute;
    right: 7%;
    top: 26px;
    width: 10.2%;
    height: 38px;
    background: #e74c3c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0; }

  .portfolio__work-description {
    display: none;
    position: absolute;
    bottom: 0;
    width: 98.8%;
    height: 90px;
    background: #e74c3c; }
    .portfolio__work-description .portfolio__work-description-title {
      position: absolute;
      left: 1.7%;
      top: 23px;
      color: #fff;
      font-size: 17px; }
    .portfolio__work-description .portfolio__work-description-text {
      position: absolute;
      left: 1.7%;
      top: 55px;
      color: #9d3b31;
      font-size: 10px; }

  .portfolio__work:hover {
    cursor: pointer; }
  .portfolio__work:hover .portfolio__work-description {
    display: block; }
  .portfolio__work:hover .portfolio__search {
    opacity: 1; }

  .portfolio__btn {
    width: 500px;
    height: 100px;
    margin: 75px auto;
    background: #e74c3c;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .portfolio__btn:hover {
      cursor: pointer; }
    .portfolio__btn .portfolio__btn-title {
      display: block; }
    .portfolio__btn .portfolio__btn-img {
      width: 4vw;
      margin-left: 10px; }
    .portfolio__btn .portfolio__btn-block-inner {
      width: 70%;
      margin: 0 auto;
      font-size: 4vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (min-width: 993px) and (min-width: 1244px) and (max-width: 1933px) {
    .portfolio__btn .portfolio__btn-block-inner {
      font-size: 2.5vw; }
    .portfolio__btn .portfolio__btn-img {
      width: 3vw; } }
  @media screen and (min-width: 993px) and (min-width: 1934px) and (max-width: 2318px) {
    .portfolio__btn .portfolio__btn {
      height: 100px; }
    .portfolio__btn .portfolio__btn-block-inner {
      font-size: 1.8vw; } }
  @media screen and (min-width: 993px) and (min-width: 2319px) and (max-width: 2560px) {
    .portfolio__btn .portfolio__btn {
      width: 700px; }
    .portfolio__btn .portfolio__btn-block-inner {
      font-size: 1.5vw; }
    .portfolio__btn .portfolio__btn-img {
      width: 2vw; } }
@media screen and (min-width: 993px) {
    .portfolio__btn .portfolio__btn-img-red {
      display: none;
      width: 3vw; } }
@media screen and (max-width: 800px) {
  .contact {
    width: 100%;
    text-align: center; }

  .contact__border-top {
    width: 80%;
    height: 1px;
    margin: 75px auto;
    background: #e4e8e8; }

  .contact__title {
    margin-top: 74px;
    color: #e74c3c;
    font-size: 34px; }

  .form {
    width: 64%;
    margin: 75px auto; }

  .contact__form-elem {
    display: block;
    background: #e4e8e8;
    border-radius: 5px;
    color: #000000;
    padding: 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

  .contact__inputs {
    width: 100%;
    height: 150px; }

  .contact__name {
    width: 100%;
    height: 73px; }

  .contact__email {
    width: 100%;
    height: 73px;
    margin-top: 1vh; }

  .contact__message {
    width: 100%;
    height: 250px;
    margin-top: 2vh; } }
@media screen and (min-width: 801px) {
  .contact {
    width: 100%;
    text-align: center; }

  .contact__border-top {
    width: 80%;
    height: 1px;
    margin: 75px auto;
    background: #e4e8e8; }

  .contact__title {
    margin-top: 74px;
    color: #e74c3c;
    font-size: 34px; }

  .form {
    width: 64%;
    margin: 75px auto; }

  .contact__form-elem {
    background: #e4e8e8;
    border-radius: 5px;
    color: #000000;
    padding: 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

  .contact__inputs {
    width: 100%;
    height: 73px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .contact__name {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    height: 73px; }

  .contact__email {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    height: 73px; }

  .contact__message {
    width: 100%;
    height: 250px;
    margin-top: 1vh; } }
@media screen and (min-width: 801px) and (min-width: 1800px) {
  .contact__message {
    margin-top: 3vh; } }
@media screen and (min-width: 993px) {
  footer {
    width: 100%;
    height: 240px;
    background: #e74c3c;
    position: relative;
    margin-bottom: -30px; }
    footer h3, footer span {
      position: absolute;
      top: 144px;
      color: #fff;
      font-size: 24px; }
    footer h3 {
      top: 120px;
      left: 10%; }
    footer span {
      top: 145px;
      right: 10%; }

  .footer__social-networks {
    width: 60%;
    position: absolute;
    top: -50px;
    left: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .footer__social-network {
    -ms-flex-preferred-size: 7vw;
        flex-basis: 7vw;
    height: 88px;
    background: #fff;
    border: 6px solid #f1968c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
@media screen and (max-width: 992px) {
  footer {
    width: 100%;
    height: 350px;
    background: #e74c3c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    position: relative; } }
@media screen and (max-width: 992px) and (max-width: 400px) {
  .footer__social-networks {
    width: 30%;
    margin: -50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__social-networks img {
      width: 50%; }
    .footer__social-networks .footer__img-fb {
      width: 25%; } }
@media screen and (max-width: 992px) and (min-width: 401px) and (max-width: 600px) {
  .footer__social-networks {
    width: 25%;
    margin: -50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__social-networks img {
      width: 50%; }
    .footer__social-networks .footer__img-fb {
      width: 25%; } }
@media screen and (max-width: 992px) and (min-width: 600px) and (max-width: 992px) {
  .footer__social-networks {
    width: 15%;
    margin: -50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__social-networks img {
      width: 50%; }
    .footer__social-networks .footer__img-fb {
      width: 30%; } }
@media screen and (max-width: 992px) {
  .footer__social-network {
    width: 50%;
    height: 50px;
    margin-top: 20px;
    background: #fff;
    border: 6px solid #f1968c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .footer__text-left {
    display: block;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    z-index: 1000;
    color: #fff; }

  .footer__text-right {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */