@media screen and (max-width: 768px){
      .situations {
         max-width: 100%;
         background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(235,235,235,0.5) 100%);
         position: relative;
     }

     .title {
         text-align: center;
     }

     .situations__title {
         width: 80%;
         margin: 30px auto;
     }

    .wrapper-situations-scroll-menu {
        width: 70%;
        margin: 30px auto;
        overflow: scroll;
        
    }
     .situations-scroll-menu {
        border-bottom: 2px solid #eaeaea;
     }

     .situations__scroll-menu {
         width: 700px;
         height: 50px;
     }
     
     .situation-scroll-memu__list-item {
         display: inline-block;
         list-style-type: none;
     }

     .situation-scroll-memu__link {
         display: block;
         margin: 10px;
         color: #9297a7;
         text-decoration: none;
         font-size: 19px;
     } 

     .situations-main-content {
        display: flex;
        flex-flow: column wrap;
     }


     .situations__main-content {
         width: 80%;
         margin: 30px auto;
     }

     .img-family {
        background: url('../../../../appvelox task/images/family.png') no-repeat;
        background-size: 100% 100%;
     }
     
     .situations__img-family {
         width: 50%;
         height: 150px;
         margin: 10px auto;
     }

     .services {
         text-align: center;
         color: #1d1c1c;
         font-size: 1em;
     }

     .situations__services {
         width: 80%;
         margin: 10px auto;
     }

     .reasons {
         color: #7b7b7b;
         font-size: 1em;
         text-align: center;

         .reasons__text {
            margin-top: 20px;
         }
     }

     .situations__reasons {
        width: 100%;
        margin: 30px auto;
     }

     .reasons__list {
        display: none;
     }
}

@media screen and (min-width: 769px){
    .situations {
        max-width: 100%;
    }

    .situations__title {
        width: 70%;
        margin: 40px auto;
    }

    .wrapper-situations-scroll-menu {
        width: 100%;
    }

    .situations__scroll-menu {
        width: 100%;
        border-bottom: 1px solid  #EAEAEA;;
    }
    
    .situations-scroll-menu__slider {
        width: 70px;
        height: 6px;
        background: #89c53d;
        position: absolute;
        bottom: 10px;
        left: 1.7%;
        transition-property: left;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0,0,0.58,1);
    }

    .situations-scroll-memu__list {
        width: 70%;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
    }
    
    .situation-scroll-memu__list-item {
        display: block;
        margin-right: 20px;
        list-style-type: none;
        font-size: 0.8em;
    }

    .situation-scroll-memu__link {
        color: #9297a7;
        text-decoration: none;
        font-size: 1.3em;
        cursor: pointer;
    } 

    .situations__main-content-wrapper {
        width: 100%;
        height: 500px;
        background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(235,235,235,0.5) 100%);
    }

    .situations__main-content {
        width: 85%;
        height: 500px;
        margin: 0 0 0 15%;
        display: flex;
        justify-content: space-between;
        flex-flow: row;
        position: relative;
    }

    .img-family {
       background: url('../../../../appvelox task/images/family.png') no-repeat;
       background-size: 100% 100%;
    }
    
    .situations__img-family {
        flex-basis: 18%;
        margin-top: 90px;
        height: 200px;
    }

    .situations__text {
        flex-basis: 80%;
        height: 400px;
    }

    .services {
        text-align: justify;
        color: #1d1c1c;
        font-size: 20px;
        line-height: 32px;
    }

    .situations__services {
        width: 80%;
        margin: 79px 1%;
    }

    .reasons {
        display: flex;
        justify-content: space-around;
    }

    .situations__reasons {
       width: 100%;
       margin-top: -30px;
    }

    .reasons__list {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        list-style-type: none;
    }

    .reasons__text {
        display: none;
    }
}

.reasons__list-item {
    display: inline-block;
    flex-basis: 28%;
    text-align: left;
    color: #7b7b7b;
    line-height: 31px;
    margin: 10px 0 0 10px;
}

@media screen and (min-width: 769px) and (max-width: 1086px){
    .reasons__list-item {
        font-size: 11px;
    }
}

@media screen and (min-width: 1087px) and (max-width: 1253px){
    .reasons__list-item {
        font-size: 13px;
    }
}

@media screen and (min-width: 1254px){
    .reasons__list-item {
        font-size: 15px;
    }
}

