@media screen and (min-width: 993px){
    footer {
        height: 240px;
        background: $red-color;
    }

    .footer__social-networks {
        width: 65%;
        margin: auto;
        transform: translateY(-45px);
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
    
        .footer__social-network {
            width: 65px;
            height: 65px;
            padding: 10px;
            background: #fff;
            border: 6px solid #f1968c;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .footer__text-container {
        width: 65%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .footer__text {
            color: #fff;
            font-size: 2vw;
        }

    }

}

@media screen and (max-width: 992px){
    footer {
        width: 100%;
        background: $red-color;
        display: flex;
        flex-flow: column wrap;
    }

    .footer__social-networks {
        width: 24%;
        margin: auto;
        transform: translateY(-45px);
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;

        & :not(:nth-child(1)) {
            margin-top: 10px;
        }
    
        .footer__social-network {
            width: 45px;
            height: 45px;
            padding: 10px;
            background: #fff;
            border: 6px solid #f1968c;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .footer__text-container {
        width: 100%;
        margin: auto;
        transform: translateY(-40px);
        text-align: center;
        display: flex;
        flex-direction: column;

        & :not(:nth-child(1)) {
            padding-top: 20px;
        }

        .footer__text {
            display: block;
            color: #fff;
            font-size: 5vw;
        }
    }
}

