@media screen and (max-width: 768px){
    .footer {
      width: 100%;
      position: relative;
      border-top: 2px solid #dadada;
      display: block;
    }

    .footer__bottom-menu {
        width: 100%;
        margin: 30px auto;

    .bottom-menu__list {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    } 

    .bottom-menu__list-item {
        width: 100%;
        margin-top: 10px;
        text-align: center;
        list-style-type: none;
    }

    .bottom-menu__list-link {
        color: #000;
        font-size: 21px;
        text-decoration: none;
    }

  }

  .social-networks {
      text-align: center;
  }

  .footer__social-networks {
      width: 100%;
      height: 50px;
      position: absolute;
      top: 250px;
  }

  .social-networks__img {
      max-width: 100%;
      height: auto;
  }

  .payment {
    text-align: center;
  }

  .footer__payment {
      width: 100%;
      position: absolute;
      top: 330px;
  }

  .payment__img {
      max-width: 100%;
      height: auto;
  }

  .developer {
    font-size: 14px;
  }

  .footer__developer {
      width: 100%;
      position: absolute;
      top: 400px;
      text-align: center;
  }

    .developer__list {
        margin: 0 auto;
        padding: 0;
    }
    
    .developer__list-item-text {
        display: inline-block;
        list-style-type: none;

    }

    .developer__list-item-img {
        display: inline-block;
        width: 15%;
        position: relative;
        list-style-type: none;
    }

    .developer__img {
       max-width: 100%;
       height: auto;
       position: absolute;
       top: -10px;
       left: 0%;
    }
  

  .company-name-confidentiality {
      text-align: center;
      font-size: 16px;
  }

  .footer__company-name-confidentiality {
      width: 100%;
      position: absolute;
      top: 480px;
    }

   .company-name-confidentiality__list {
      display: flex;
      flex-flow: column wrap;
    }

   .company-name-confidentiality__list-item {
      list-style-type: none;
    }

   .confidentiality__text {
       margin: 30px 0 50px 0;
    }
}


@media screen and (min-width: 769px){
    .footer {
        width: 100%;
        height: 300px;
        border-top: 2px solid #dadada;
        position: relative;
      }
  
      .footer__bottom-menu {
          position: absolute;
          top: 104px;
          left: 2%;
  
      .bottom-menu__list {
          text-align: center;
      } 
  
      .bottom-menu__list-item {
          display: inline-block;
          margin-right: 10px;
          list-style-type: none;
      }
  
      .bottom-menu__list-link {
          color: #000;
          font-size: 21px;
          text-decoration: none;
      }
  
    }

    .social-networks {
        display: flex;
        justify-content: space-between;
    }
  
    .footer__social-networks {
        width: 10%;
        position: absolute;
        top: 101px;
        right: 20%;
    }

    @media screen and (min-width: 993px) and (max-width: 1599px){
        .footer__social-networks {
            width: 15%;
        }
    }
  
    .social-networks__img {
        width: 100%;
        height: 5vh;
    }
  
    .footer__payment {
        position: absolute;
        top: 101px;
        left: 83.3%;
    }
  
    .payment__img {
        display: block;
        max-width: 15vw;
        height: 5vh;
    }
  
    .footer__developer {
        position: absolute;
        top: 253px;
        left: 2.5%;
        bottom: 34px;
    }
  
    .developer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .developer__list {
        display: flex;
    }

    .developer__list-item-text {
        list-style-type: none;
    }

    .developer__list-item-img {
        list-style-type: none;
    }
  
      .developer__img {
         display: block;
         max-width: 100%;
         height: auto;
         padding-left: 5%;
      }

    .footer__company-name-confidentiality {
        position: absolute;
        top: 179px;
        left: 2%;
    }

    .company-name-confidentiality__list {
        display: flex;
    }

    .company-name-confidentiality__list-item {
        list-style-type: none;
    }

    .confidentiality__text {
        margin-left: 10px;
    }
  
}