body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

#wrapper {
  width: 100%;
  height: auto;
  margin-top: -20px; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 220px;
  margin-top: 20px;
  background: url("../img/images/header-wrapper-bg.png") repeat-x; }
  header #logo {
    width: 220px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/images/logo-bg.png");
    margin-left: 150px;
    font-size: 20px;
    font-family: 'Cookie', cursive; }
    header #logo h1 {
      display: inline-block; }
    header #logo a {
      color: #fff;
      text-decoration: none; }
  header nav ul {
    display: flex;
    margin-right: 200px;
    font-size: 15px; }
  header nav li {
    padding-right: 50px;
    list-style-type: none; }
  header nav a {
    color: #fff;
    text-decoration: none; }
  header nav #active {
    background: #881D1D;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); }

#wrapper_banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 340px;
  background: url("../img/images/banner-wrapper-bg.png");
  margin-top: -33px; }
  #wrapper_banner #banner {
    flex-basis: 70%;
    height: 275px;
    margin-top: 30px;
    background-image: url("../img/images/banner-image.jpg");
    border-radius: 10px;
    text-align: center; }
  #wrapper_banner #banner_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    margin-top: 200px;
    background-image: url("../img/images/banner-caption-bg.png");
    border-radius: 10px;
    text-align: center;
    color: #fff; }
  #wrapper_banner h2 {
    display: inline-block; }

#main_content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 800px;
  background-image: url("../img/images/page-wrapper-bg.png"); }
  #main_content article {
    flex-basis: 50%;
    height: 720px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px; }
    #main_content article #posted_by {
      width: 90%;
      height: 40px;
      margin-top: 30px;
      padding: 10px 20px;
      background: url("../img/images/sidebar-title-bg.png") no-repeat;
      color: #fff; }
      #main_content article #posted_by a {
        color: #fff; }
    #main_content article h1 {
      margin-left: 35px;
      color: #4E2B22; }
    #main_content article #img_main_content {
      width: 95%;
      height: 190px;
      margin: 0 5%;
      border-radius: 5px;
      background: url("../img/images/pics01.jpg") no-repeat; }
    #main_content article p {
      width: 85%;
      margin: 20px 5%;
      text-align: justify; }
    #main_content article #posted_in {
      display: flex;
      justify-content: space-around;
      width: 95%;
      height: 80px;
      margin: 100px 5%;
      border-radius: 5px;
      background: url("../img/images/posted-meta-bg.png") no-repeat; }
      #main_content article #posted_in p {
        margin-top: 25px;
        color: #572F26; }
      #main_content article #posted_in a {
        color: #572F26; }
  #main_content aside {
    flex-basis: 25%;
    height: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px; }
    #main_content aside #bg_top {
      width: 100%;
      height: 15px;
      background: url("../img/images/sidebar-bg-01.png") no-repeat; }
    #main_content aside #aside_content {
      width: 100%;
      height: 700px;
      background: url("../img/images/sidebar-bg-02.png") repeat-y; }
      #main_content aside #aside_content p {
        width: 200px;
        margin-top: -20px;
        margin-bottom: 20px;
        margin-left: 30px;
        font-size: 15px;
        color: #fff; }
    #main_content aside #bg_btm {
      width: 100%;
      height: 15px;
      margin-top: -10px;
      background: url("../img/images/sidebar-bg-03.png") no-repeat; }
    #main_content aside h3 {
      display: inline-block;
      width: 330px;
      height: 40px;
      padding: 10px 20px;
      background: url("../img/images/sidebar-title-bg.png") no-repeat;
      color: #fff; }
    #main_content aside ul {
      margin-top: -20px;
      margin-left: -15px;
      font-size: 15px; }
    #main_content aside li {
      width: 240px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #000;
      list-style-type: none; }
    #main_content aside #border_none {
      border: none; }
    #main_content aside a {
      color: #fff;
      text-decoration: none; }

footer {
  margin-top: -20px; }
  footer #widgets {
    width: 100%;
    height: 300px;
    margin-bottom: 0px;
    background: url("../img/images/footer-content-bg-02.png") repeat-x;
    display: flex;
    justify-content: center; }
    footer #widgets .widget {
      flex-basis: 20%;
      height: 215px;
      margin-top: 30px;
      margin-bottom: 0px;
      margin-left: 50px;
      background: url("../img/images/sidebar-bg-02.png");
      border: 1px solid #784F45;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 10px;
      -moz-box-shadow: 0 0 10px;
      -ms-box-shadow: 0 0 10px;
      box-shadow: 10px 10px 10px 5px; }
      footer #widgets .widget h3, footer #widgets .widget p {
        color: #fff; }
      footer #widgets .widget h3 {
        padding: 5px 0 0 20px;
        text-align: left; }
      footer #widgets .widget p {
        padding: 5px 20px 20px 20px;
        text-align: justify; }
  footer #footer {
    width: 100%;
    height: 150px;
    margin-top: -20px;
    background: url("../img/images/footer-bg.png") repeat-x;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer #footer p {
      color: #784f45; }
    footer #footer a {
      color: #784f45; }

/*# sourceMappingURL=style.css.map */
