li {
    list-style-type: none;
}

@media screen and (max-width: 768px){
   .questions__title-top {
        text-align: center;
        font-size: 18px;
    }

    .questions__title-bottom {
        text-align: center;
        font-size: 14px;
    }

    .questions__categories-desktop {
         display: none;
    }

    .categories {
        font-size: 14px;
    }

    .questions__categories {
        width: 100%;
        margin: 26px auto;
    }

    .categories__list {
        width: 100%;
        margin: 0 0 0 -15%;
        text-align: center;
    }

    @media screen and (min-width: 500px) and (max-width: 768px){
        .categories__list {
            width: 100%;
            margin: 0 0 0 -12%;
            text-align: center;
        }
    }

    .categories__list-middle {
        margin-top: 10px;
    }

    .categories__list-bottom {
        margin-top: 10px;
    }
    
    .categories__list-item {
        display: inline-block;
        margin-left: 10%;
    }

    .categories__list-item-active {
        background-color: #8DC33E;
        border-radius: 100px;
        color: #fff;
        padding: 5px;
    }
}

@media screen and (min-width: 769px){
    .questions__title-top {
        text-align: center;
        font-size: 25px;
     }

     .questions__title-bottom {
        text-align: center;
        font-size: 16px;
     }

     .questions__categories-mobile {
         display: none;
     }

    .questions__categories {
        width: 100%;
    }

    .categories__list {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .categories__list-item {
        display: inline-block;
        margin-left: 5%;
    }

    .categories__list-item-active {
        background-color: #8DC33E;
        border-radius: 100px;
        color: #fff;
        padding: 5px;
    }
 }

 .add-green-background {
    background-color: #8DC33E;
    border-radius: 100px;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
 }