    .chemical-dozators {
      width: 50%;
      margin: 3% 0;
      display: flex;
      justify-content: space-between;
    }
    
    .chemical-dozators__description {
      margin-top: 15%;
      align-self: center;
      font-size: 1.2vw;
    }

    .chemical-dozators__description table td {
      padding: 0.5em;
    }
  
    .cell-text-center {
      padding-left: 5%;
      text-align: center;
    }
  
    .chemical-dozators__img {
      width: 40%;
    }