footer {
    width: 100vw;
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    background: #D3D3D3;
    color: #000;
  }

  @media all and (max-width: 768px) {
    footer {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  footer h3 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: bold; 
  }

  @media all and (max-width: 768px) {
    footer h3 {
      font-size: 5vw;
    }
  }
  
  .footer__contacts {
    flex: 0 0 30%;
    margin-left: 2.5%; 
  }

  @media all and (max-width: 768px) {
    .footer__contacts {
      width: 80%;
      margin: auto;
      text-align: center;
    }
  }
    
  .footer__contacts h3 {
    display: block;
    position: absolute;
    margin-top: 2%; 
  }

  @media all and (max-width: 768px) {
    .footer__contacts h3 {
      display: block;
      position: static;
      margin-top: 5%;
    }
  }


  @media all and (max-width: 768px) {
    .footer__contacts span {
      font-size: 3vw;
    }
  }
    
  .footer__contacts .footer__contacts-position-adress {
    width: 80%;
    display: flex;
    margin: 13.5% 0 0 0%; 
    display: flex;
    flex-flow: column wrap;
  }

  .footer__contacts .footer__contacts-position-adress span {
    font-size: 1.3vw;
  }

  @media all and (max-width: 768px) {
    .footer__contacts .footer__contacts-position-adress {
      margin: 2% auto; 
    }

    .footer__contacts .footer__contacts-position-adress span {
      font-size: 3vw;
    }
  }
  
  .footer__contacts .footer__tel {
    display: flex;
    flex-flow: column wrap;
    margin-top: 2%; 
  }

  @media all and (max-width: 768px) {
    .footer__contacts .footer__tel {
      text-align: center;
      margin: 2% auto; 
    }
  }

  .footer__tel a {
    color: #000;
    text-decoration: none; 
    font-size: 1.3vw;
  }

  @media all and (max-width: 768px) {
    .footer__tel a {
      font-size: 4vw;
    }
  }
  
  .footer__tel a:hover {
    text-decoration: none; 
  }

  .footer__contacts .footer__email {
    display: flex;
    align-items: center;
    margin: 2% 0; 
  }

  @media all and (max-width: 768px) {
    .footer__contacts .footer__email {
      display: flex;
      justify-content: center;
    }
  }

  .footer__email-text {
    color: #000;
    text-decoration: none;
    font-size: 1.3vw;
  }

  @media all and (max-width: 768px) {
    .footer__email-text {
      font-size: 4vw;
    }
  }

  .footer__inform {
    flex: 0 0 32%; 
  }

  @media all and (max-width: 768px) {
    .footer__inform {
      margin-bottom: 3%;
    }
  }

  .footer__inform h3 {
    display: block;
    margin-top: 6.5%; 
  }

  @media all and (max-width: 768px) {
    .footer__inform h3 {
      margin-top: 4%; 
    }
  }
  
  .footer__inform .footer__inform-text {
    margin-top: 2%;
  }

  .footer__inform .footer__inform-text a {
    font-size: 1.3vw;
    color: #000;
    text-decoration: none; 
  }

  @media all and (max-width: 768px) {
    .footer__inform .footer__inform-text a {
      font-size: 4vw;
    }
  }
  
  .footer__inform .footer__inform-text a:hover {
    text-decoration: none; 
  }
  
  .footer__inform a {
    display: block; 
  }

  .footer__inform .footer__inform-span-2 {
    margin-top: 2%; 
  }