    .gidrofornye-settings {
      width: 60%;
      display: flex;
      justify-content: space-between;
    }
  
    .gidrofornye-settings__description {
      width: 50%;
      margin-top: 3%;
      font-size: 1.2vw;
      align-self: center;
    }
  
    .gidrofornye-settings__description table td {
      padding: 0.5em;
    }
  
    .cell-text-center {
      padding-left: 5%;
      text-align: center;
    }
  
    .gidrofornye-settings__imgs {
      width: 50%;
      margin-top: 3%;
      display: flex;
      justify-content: space-between;
    }
  
    .gidrofornye-settings__img {
      width: 100%;
    }
  
    .gidrofornye-settings__img-right {
      margin-left: 20%;
    }