* {
    margin: 0;
    padding: 0; }

html {
  overflow-x: hidden;
}

.no-scrolling {
  overflow-y: hidden;
}
  
body {
  font-family: Helios, sans-serif;
  overflow-x: hidden; 
}

.header-desktop {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 10;
    padding-bottom: 10%;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}
  
  .header-desktop__logo {
    width: 20%;
    height: auto;
    padding: 1% 0 1% 0;
    position: absolute;
    left: 2.5%; }
  
  .header-desktop__menu .header-desktop__menu-list {
    width: 40%;
    position: absolute;
    top: 40%;
    left: 25%;
    display: flex;
    justify-content: space-between;
    list-style-type: none; }
  
  .header-desktop__menu a {
    display: block;
    font-size: 1.2vw;
    text-decoration: none;
    color: #000;
    text-transform: uppercase; }
  
    .header-desktop__laboratory {
      position: absolute;
      top: 40%;
      left: 70%;
      margin-left: 0%;
      color: #000;
      text-decoration: none;
      font-size: 1.2vw;
      text-transform: uppercase;
    }
  
    .header-desktop__laboratory:hover {
      color: #000;
      text-decoration: none;
    }
  
  .header-desktop__tel-img {
    width: 2.5%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 83%; 
  }

  .header-desktop__tel-numbers-block {
    width: 11%;
    position: absolute;
    top: 30%;
    right: 3%;
    display: flex;
    flex-direction: column;
  }
  
  .header-desktop__tel-number-top-link {
    display: block;
    font-size: 1.2vw;
    color: #000; 
    text-decoration: none;
  }
  
  .header-desktop__tel-number-bottom-link {
    display: block;
    margin-top: 5%;
    font-size: 1.2vw;
    color: #000; 
    text-decoration: none;
  }

  @media all and (min-width: 769px) {
    .header-mobile {
      display: none;
    }
  }

  @media all and (max-width: 768px) {
    .header-desktop {
      display: none;
    }

    .header-mobile {
      width: 100%;
      position: fixed;
      top: 0;
      background: #fff;
      z-index: 10;
      padding-bottom: 25%;
      box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    }

    .header-mobile__logo {
      width: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2.5%;
    }

    .header-mobile__menu-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 2.5%;
      font-size: 10vw;
    }

    .header-mobile__menu-all-links {
      width: 100%;
      padding-bottom: 50%;
      background: #fff;
      border-top: 1px solid #c0c0c0;
      display: flex;
      flex-direction: column;
      position: absolute;
      transform: translate(100%, 16%);
      background: #fff;
      text-align: center;
    }

    .header-mobile__menu-move-left {
      transform: translate(0%, 16%);
      transition: transform .5s;
    }

    .header-mobile__menu-all-links a {
      color: #000;
      text-decoration: none;
    }

    .header-mobile__menu {
      order: 2;
      margin-top: 10%;
      font-size: 8vw;
    }

    .header-mobile__menu-list-item {
      margin-top: 5%;
      list-style-type: none;
    }

    .header-mobile__laboratory {
      display: block;
      order: 3;
      margin-top: 10%;
      font-size: 8vw;
    }

    .header-mobile__tel-img {
      width: 12%;
      height: auto;
      position: absolute;
      top: 4%;
      left: 1%; 
      display: none;
    }

    .header-mobile__tel-numbers-block { 
      order: 1;
      display: flex;
      flex-direction: column;
      transform: translateY(20%);
      font-size: 8vw;
    }


  }