* {
  margin: 0;
  padding: 0; }

body {
  font-family: Helios, sans-serif; }

header {
  width: 100%;
  height: 0;
  background: #fff;
  position: fixed;
  z-index: 10;
  padding-bottom: 10%;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}

.header__logo {
  width: 20%;
  height: auto;
  padding: 1% 0 1% 0;
  position: absolute;
  left: 2.5%; }

.header__menu .header__menu-list {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 25%;
  display: flex;
  justify-content: space-between;
  list-style-type: none; }
.header__menu li > ul {
  opacity: 0;
  flex-flow: column wrap;
  position: absolute;
  margin-left: -1%;
  list-style-type: none;
  text-align: center;
  background: #ffffff;
  z-index: 100; }
  .header__menu li > ul li {
    margin-top: 10px;
    padding-bottom: 3%;
    border-bottom: 1px solid #000; }
  .header__menu li > ul a {
    color: #000; }
.header__menu li:hover > ul {
  opacity: 1; }
.header__menu a {
  display: block;
  font-size: 1.2vw;
  text-decoration: none;
  color: #000;
  text-transform: uppercase; }

  .header__our-team {
    position: absolute;
    top: 40%;
    left: 70%;
    margin-left: 0%;
    color: #000;
    text-decoration: none;
    font-size: 1.2vw;
    text-transform: uppercase;
  }

.header__tel-img {
  width: 2.5%;
  height: auto;
  position: absolute;
  top: 35%;
  left: 85%; }

.header__tel-number-top {
  position: absolute;
  top: 28%;
  left: 88%;
  font-size: 1.2vw; }

.header__tel-number-bottom {
  position: absolute;
  top: 47%;
  left: 88%;
  font-size: 1.2vw; }

  .slider__container-1, .slider__container-2, .slider__container-3 {
    position: relative;
  }

  .slider__text-1 {
    position: absolute;
    width: 40%;
    top: 100px;
    left: 8vw;
  }

  .slider__text-1__btn {
    position: absolute;
    bottom: -50px;
    left: 0vw;
    width: 20vw;
    background: #00538a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
  }

  .slider__text-1__span-blue {
    color: #00538a;
    font-size: 3vw;
    text-transform: uppercase;
  }

  .slider__text-1__span-4 {
    margin-top: 5%;
    color: #919191;
    font-size: 16px;
  }

  .slider__text-1 span {
    display: block;
  }

  .slider__img-1 {
    width: 23vw;
    position: absolute;
    right: 5%;
  }



  @media screen and (max-width: 1440px){
    .slider__img-1 {
      width: 35vw;
      position: absolute;
      right: 5%;
    }
  }

  @media screen and (min-width: 1441px) and (max-width: 2050px){
      .slider__img-1 {
        width: 30vw;
        position: absolute;
        right: 5%;
      }
  }

  .slider__container-2__title {
    display: block;
    width: 50%;
    margin: 30px auto;
    color: #00538a;
    font-size: 3vw;
    text-align: center;
}

.slider__text-2 {
  margin: 30px 0 30px 24vw;
  width: 50%;
  text-align: center;
}

.slider__text-2__description {
  color: #919191;
}

.slider__text-2__btn {
  margin: 30px auto;
  width: 20vw;
  background: #00538a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  z-index: 1000;
}

  .slider__img-2 {
    width: 80vw;
    margin: 0px auto;
  }

  @media screen and (min-width: 1341px) and (max-width: 2560px){
    .slider__img-2 {
      width: 70vw;
      margin: 0 auto;
    }

  }

  

  .slider__img-3 {
    width: 40vw;
    position: absolute;
    right: 10vw;
  }

  @media screen and (min-width: 1501px) and (max-width: 2560px){
    .slider__img-3 {
      width: 30vw;
      position: absolute;
      right: 15vw;
    }
  } 

  .slider__text-3 {
    position: absolute;
    width: 40vw;
    top: 100px;
    left: 10vw;
  }

  .slider__text-3 span {
    display: block;
  }

  .slider__text-3__blue {
    color: #00538a;
    font-size: 3vw;
    text-transform: uppercase;
  }

  .slider__text-3__cyan {
    color: #7e9bc4;
    font-size: 3vw;
    text-transform: uppercase;
  }

  .slider__text-3__grey {
    margin-top: 20px;
    color: #919191;
  }

  .slider__text-3__btn {
    width: 20vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: #00538a;
    color: #fff;
  }

   .slider__container-4 {
      position: relative;
   }

   .slider__container-4 span {
    position: relative;
   }

  .slider__container-4 img {
    width: 100%;
    height: 700px;
  }

  .slider__background-transperent {
    position: absolute;
    top: 0px;
    left: 5vw;
    width: 40vw;
    height: 100%;
    background: #1c5e89;
     opacity: .8;
  }

  .slider__text-4 {
    position: absolute;
    top: 30px;
  }

  .slider__text-4 span {
    display: block;
    color: #fff;
  }

  .slider-text-4__since-1918 {
    position: absolute;
    top: 100px;
    left: 6vw;
    font-size: 3vw;
    text-transform: uppercase;
  }

  .slider-text-4__description {
    position: absolute;
    top: 200px;
    left: 6vw;
  }

  @media screen and (max-width: 1050px){
    .slider-text-4__description {
      position: absolute;
      top: 200px;
      left: 6vw;
      font-size: 1.2vw;
    }
  }


  .slider-text-4__history-link {
    width: 10vw;
    padding: 10px;
    border: 1px solid #fff;
    position: absolute;
    top: 350px;
    left: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #fff;
  }


footer {
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  background: #D3D3D3;
  color: #000; }
  footer h3 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: bold; }
  footer span {
    font-size: 1.3vw; }

.footer__contacts {
  flex: 0 0 32%; }
  .footer__contacts h3 {
    display: block;
    position: absolute;
    margin: 2% 0 0 1.3%; }
  .footer__contacts .footer__position {
    width: 80%;
    display: flex;
    margin: 13.5% 0 0 4%; }
  .footer__contacts .footer__contacts-position-adress {
    display: flex;
    flex-flow: column wrap;
    margin-left: 0px; }
    .footer__contacts .footer__contacts-position-adress span {
      display: block; }
  .footer__contacts .footer__tel {
    display: flex;
    margin: 2% 0 0 4%; }
  .footer__contacts .footer__tel-numbers {
    display: flex;
    flex-flow: column wrap;
    margin: 0px 0 0 0px; }
    .footer__contacts .footer__tel-numbers span {
      display: block; }
  .footer__contacts .footer__email {
    display: flex;
    align-items: center;
    margin: 2% 4%; }
  .footer__contacts .footer__email-text {
    margin: 0 0 0 0; }

.footer__inform {
  flex: 0 0 32%; }
  .footer__inform h3 {
    display: block;
    margin-top: 6.5%; }
  .footer__inform .footer__inform-text {
    margin-top: 2%; }
  .footer__inform span {
    display: block; }
  .footer__inform .footer__inform-span-2 {
    margin-top: 5px; }

.footer__news {
  flex: 0 0 28%; }
  .footer__news h3 {
    display: block;
    margin-top: 7.5%; }
  .footer__news .footer__news-text {
    margin-top: 2%; }

  .footer__news .footer__news-text span {
    display: block;
    margin-top: 2%; }

/*# sourceMappingURL=style.css.map */
