  .top-slider > .slick-prev {
    top: 45%;
    left: 1%;
  }

  .top-slider > .slick-next {
    top: 45%;
    right: 1.5%;
  }

  .top-slider > .slick-dots {
    bottom: 0%;
  }

  .top-slider__slide-1 {
    width: 100%;
    height: 480px;
  }

  .top-slider__slide-2 {
    width: 100%;
    height: 480px;
  }


  .top-slider__slide-3 {
    width: 100%;
    height: 480px;
  }

  .top-slider__img {
     width: 100%;
     height: 480px;
  }

  .top-slider__info-block {
    position: absolute;
    top: 7%;
    margin-left: 1%;
    width: 50vw;
  }

  .top-slider__info-block span {
    display: block;
    margin: 4% 0 0 5%;
    color: #fff;
    font-size: 3vw;
  }

  .separator {
    max-width: 95%;
    height: 3px;
    margin: 3% auto 0 auto;
    background:#C0C0C0;
    border-radius: 10px;
  }

  .title-about {
    display: block;
    margin: 1% 0 0 5%;
    color:  #C0C0C0;
    font-size: 2.5vw;
  }

  .title-about a {
    color: #C0C0C0;
    text-decoration: none;
  }

  .about-container {
    max-width: 75%;
    margin-left: 8%;
    display: flex;
    justify-content: space-around;
  }

  .about-block {
    flex: 0 0 32%;
    padding: 3% 3% 5%;
    border-radius: 10px;
  }

  .about-block:hover {
    background-color: #C0C0C0;
    transition: background-color .5s;
    cursor: pointer;
  }

  .about-container__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .about-block a {
    display: block;
    margin-top: 5%;
    font-size: 1.5vw;
    color: #000;
    text-decoration: none;
  }

  .title-right {
    display: block;
    margin: -2% 0% 0 75%;
  }

  .title-right a {
    color: #C0C0C0;
    font-size: 1.7vw;
    text-decoration: none;
  }


  .news {
    max-width: 93%;
    margin: 1% 0 0 4%;
    display: flex;
    justify-content: flex-start;
  }

  .title-news {
    display: block;
    margin: 1% 0 0 5%;
    font-size: 2.5vw;
  }

  .title-news a {
    color: #C0C0C0;
    text-decoration: none;
  }
  
  .news__left-block {
    flex-basis: 48%;
    margin-top: -1.5%;
    padding: 3% 1% 3% 1%;
  }

  .news__left-block:hover {
    background-color: #C0C0C0;
    transition: background-color .5s;
    border-radius: 10px;
    cursor: pointer;
  }

  .news__left-block img {
    height: 65%;
  }

  .news__left-block span {
    display: block;
  }

  .news__left-block-date {
    margin-top: 3%;
    font-size: 1.2vw;
  }

  .news__left-block__title {
    display: block;
    margin: 1% 0;
    color: #000;
    text-decoration: none;
    margin-top: 3%;
    font-size: 2vw;
    font-weight: bold;
  }

  .news__left-block__text {
    margin-top: 3%;
    font-size: 1.2vw;
  }

  .news__right-blocks {
    flex-basis: 48%;
    margin: 2.5% 0 0 5%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .news__right-block {
    flex-basis: 48%;
    padding: 3% 1% 3% 1%;
    height: 51%;
    box-sizing: border-box;
  }

  .news__right-block:hover {
    background-color: #C0C0C0;
    transition: background-color .5s;
    cursor: pointer;
    border-radius: 10px;
  }

  .news__right-block span {
    display: block;
    margin-top: 3%;
  }

  .news-right-block__title {
    display: block;
    margin: 5% 0;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
  }

  .news-right-block__date {
    font-size: 1.2vw;
  }

  .news__right-block img {
    width: 100%;
    height: auto;
  }

  .slider-partners {
    max-width: 90%;
    margin: 3% auto 5% auto;
    height: 200px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-partners div {
    width: 100%;
  }

  .slider-partners img {
    width: 20vw;
  }

  .slider-partners > .slick-prev {
    top: 45%;
    left: -3%;
  }

  .slider-partners > .slick-next {
    top: 45%;
    right: -1.9%;
  }

  .slider-partners > .slick-prev:before, .slick-next:before {
    color: #000;
  }

  .slider-partners > .slick-next:before {
    color: #000;
  }

/*# sourceMappingURL=style.css.map */
