* {
  margin: 0;
  padding: 0; }

body {
  font-family: Helios, sans-serif; }

header {
  width: 100%;
  height: 0;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  padding-bottom: 10%;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}

.header__logo {
  width: 20%;
  height: auto;
  padding: 1% 0 1% 0;
  position: absolute;
  left: 2.5%; }

.header__menu .header__menu-list {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 25%;
  display: flex;
  justify-content: space-between;
  list-style-type: none; }
.header__menu li > ul {
  opacity: 0;
  flex-flow: column wrap;
  position: absolute;
  margin-left: -1%;
  list-style-type: none;
  text-align: center;
  background: #ffffff;
  z-index: 100; }
  .header__menu li > ul li {
    margin-top: 10px;
    padding-bottom: 3%;
    border-bottom: 1px solid #000; }
  .header__menu li > ul a {
    color: #000; }
.header__menu li:hover > ul {
  opacity: 1; }
.header__menu a {
  display: block;
  font-size: 1.2vw;
  text-decoration: none;
  color: #000;
  text-transform: uppercase; }

  .header__our-team {
    position: absolute;
    top: 40%;
    left: 70%;
    margin-left: 0%;
    color: #000;
    text-decoration: none;
    font-size: 1.2vw;
    text-transform: uppercase;
  }

.header__tel-img {
  width: 2.5%;
  height: auto;
  position: absolute;
  top: 35%;
  left: 85%; }

.header__tel-number-top {
  position: absolute;
  top: 28%;
  left: 88%;
  font-size: 1.2vw; }

.header__tel-number-bottom {
  position: absolute;
  top: 47%;
  left: 88%;
  font-size: 1.2vw; }

  .top-slider > .slick-prev {
    top: 45%;
    left: 1%;
  }

  .top-slider > .slick-next {
    top: 45%;
    right: 1.5%;
  }

  .top-slider > .slick-dots {
    bottom: 0%;
  }

  .top-slider__slide-1 {
    width: 100%;
    height: 480px;
  }

  .top-slider__slide-2 {
    width: 100%;
    height: 480px;
  }


  .top-slider__slide-3 {
    width: 100%;
    height: 480px;
  }

  .top-slider__img {
     width: 100%;
     height: auto;
  }

  .top-slider__info-block {
    position: absolute;
    top: 7%;
    margin-left: 1%;
    width: 50vw;
  }

  .top-slider__info-block span {
    display: block;
    margin: 4% 0 0 5%;
    color: #fff;
    font-size: 3vw;
  }

  .separator {
    max-width: 95%;
    height: 3px;
    margin: 3% auto 0 auto;
    background:#C0C0C0;
    border-radius: 10px;
  }

  .title-about {
    display: block;
    margin: 1% 0 0 5%;
    color:  #C0C0C0;
    font-size: 2.5vw;
  }

  .about-container {
    max-width: 75%;
    margin-left: 8%;
    display: flex;
    justify-content: space-around;
  }

  .about-block {
    flex: 0 0 32%;
    padding: 3% 3% 5%;
    border-radius: 10px;
  }

  .about-block:hover {
    background-color: #C0C0C0;
    transition: background-color .5s;
    cursor: pointer;
  }

  .about-container__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .about-block span {
    display: block;
    margin-top: 5%;
    font-size: 1.5vw;
  }

  .title-right {
    display: block;
    margin: -2% 0% 0 75%;
  }

  .title-right a {
    color: #C0C0C0;
    font-size: 1.7vw;
    text-decoration: none;
  }


  .news {
    max-width: 93%;
    margin: 1% 0 0 4%;
    display: flex;
    justify-content: flex-start;
  }
  
  .news__left-block {
    flex-basis: 48%;
    margin-top: -1.5%;
    padding: 3% 1% 3% 1%;
  }

  .news__left-block:hover {
    background-color: #C0C0C0;
    transition: background-color .5s;
    border-radius: 10px;
    cursor: pointer;
  }

  .news__left-block img {
    height: 65%;
  }

  .news__left-block span {
    display: block;
  }

  .news__left-block-date {
    margin-top: 3%;
    font-size: 1.2vw;
  }

  .news__left-block__title {
    margin-top: 3%;
    font-size: 2vw;
  }

  .news__left-block__text {
    margin-top: 3%;
    font-size: 1.2vw;
  }

  .news__right-blocks {
    flex-basis: 48%;
    margin: 2.5% 0 0 5%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
  }

  .news__right-block {
    flex-basis: 24%;
    padding: 3% 1% 3% 1%;
    height: 140px;
    box-sizing: border-box;
  }

  .news__right-block:hover {
    background-color: #C0C0C0;
    transition: background-color .5s;
    cursor: pointer;
    border-radius: 10px;
  }

  .news__right-block span {
    display: block;
    margin-top: 3%;
  }

  .news-right-block__title {
    font-weight: bold;
    font-size: 0.9vw;
  }

  .news-right-block__date {
    font-size: 1vw;
  }

  .news__right-block img {
    width: 100%;
    height: auto;
  }

  .slider-partners {
    max-width: 90%;
    margin: 3% auto 5% auto;
    height: 200px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-partners div {
    width: 100%;
  }

  .slider-partners img {
    width: 20vw;
  }

  .slider-partners > .slick-prev {
    top: 45%;
    left: -3%;
  }

  .slider-partners > .slick-next {
    top: 45%;
    right: -1.9%;
  }

  .slider-partners > .slick-prev:before, .slick-next:before {
    color: #000;
  }

  .slider-partners > .slick-next:before {
    color: #000;
  }

footer {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  background: #D3D3D3;
  color: #000;
  position: absolute;
}
  footer h3 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: bold; }
  footer span {
    font-size: 1.3vw; }

.footer__contacts {
  flex: 0 0 32%; }
  .footer__contacts h3 {
    display: block;
    position: absolute;
    margin: 2% 0 0 1.3%; }
  .footer__contacts .footer__position {
    width: 80%;
    display: flex;
    margin: 13.5% 0 0 4%; }
  .footer__contacts .footer__contacts-position-adress {
    display: flex;
    flex-flow: column wrap;
    margin-left: 0px; }
    .footer__contacts .footer__contacts-position-adress span {
      display: block; }
  .footer__contacts .footer__tel {
    display: flex;
    margin: 2% 0 0 4%; }
  .footer__contacts .footer__tel-numbers {
    display: flex;
    flex-flow: column wrap;
    margin: 0px 0 0 0px; }
    .footer__contacts .footer__tel-numbers span {
      display: block; }
  .footer__contacts .footer__email {
    display: flex;
    align-items: center;
    margin: 2% 4%; }
  .footer__contacts .footer__email-text {
    margin: 0 0 0 0; }

.footer__inform {
  flex: 0 0 32%; }
  .footer__inform h3 {
    display: block;
    margin-top: 6.5%; }
  .footer__inform .footer__inform-text {
    margin-top: 2%; }
  .footer__inform span {
    display: block; }
  .footer__inform .footer__inform-span-2 {
    margin-top: 5px; }

.footer__news {
  flex: 0 0 28%; }
  .footer__news h3 {
    display: block;
    margin-top: 7.5%; }
  .footer__news .footer__news-text {
    margin-top: 2%; }

  .footer__news .footer__news-text span {
    display: block;
    margin-top: 2%; }

/*# sourceMappingURL=style.css.map */
