  .mineralizators {
    width: 50%;
    margin: 3% 0%;
    display: flex;
    justify-content: space-between;
  }

  .mineralizators__description {
    align-self: center;
    font-size: 1.2vw;
  }

  .mineralizators__description table td {
    padding: 0.5em;
  }

  .cell-text-center {
    padding-left: 5%;
    text-align: center;
  }

  .mineralizators__img {
    width: 30%;
  }