    main li {
        font-size: 1.2vw;
    }
  
  
      .main__title {
        font-size: 1.5vw;
        font-weight: normal;
        text-transform: uppercase;
      }

      .main__list-top {
        margin-top: 3%;
        list-style-type: none;
      }

      .main__list-top li {
        margin-top: 1%;
      }

      .main__table {
        margin: 5% 0 0 -1%;
        position: relative;
      }

      .main__table td {
          padding: 0.5em;
      }

      .main__img-container {
        width: 100%;
        margin-top: 10%;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
      }

      .main__img-container :first-child {
          width: 100%;
          display: block;
      }

      .main__img-container :last-child {
        width: 70%;
        display: block;
    }