  .pnevmo-barrels {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .pnevmo-barrels__description {
    width: 50%;
    margin-top: 3%;
    font-size: 1.2vw;
    align-self: center;
  }

  .pnevmo-barrels__description table td {
    padding: 0.5em;
  }

  .cell-text-center {
    padding-left: 5%;
    text-align: center;
  }

  .pnevmo-barrels__imgs {
    width: 50%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
  }

  .main__img-left {
    width: 60%;
  }

  .main__img-right {
    width: 40%;
    margin-left: 20%;
  }