@media all and (min-width: 769px) {
  .main__title {
    margin-left: 1%;
    font-size: 1.5vw;
    font-weight: normal;
    text-transform: uppercase;
  }
}

@media all and (max-width: 768px) {
  .main__title {
    font-size: 5.5vw;
  }
}

.pnevmo-barrels {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .pnevmo-barrels {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.pnevmo-barrels__description {
  width: 50%;
  margin-top: 3%;
  font-size: 1.2vw;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .pnevmo-barrels__description {
    font-size: 4.5vw;
  }
}

.pnevmo-barrels__description table td {
  padding: 0.5em;
}

.cell-text-center {
  padding-left: 5%;
  text-align: center;
}

.pnevmo-barrels__imgs {
  width: 50%;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .pnevmo-barrels__imgs {
    width: 50%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
  }
}

.main__img-left {
  width: 60%;
}

@media all and (max-width: 768px) {
  .main__img-left {
    width: 90%;
    margin: auto;
  }
}

.main__img-right {
  width: 40%;
  margin-left: 20%;
}

@media all and (max-width: 768px) {
  .main__img-right {
    width: 60%;
    margin: auto;
  }
}