    .main__title {
      text-transform: uppercase;
      font-weight: normal;
    }
    
    .main__sub-title {
      margin-top: 3%;
      text-transform: uppercase;
      font-size: 1.3vw;
      font-weight: normal;
    }

    .main__title-section {
      display: block;
      width: 50%;
      margin: 3% auto;
      text-transform: uppercase;
      font-size: 1.3vw;
      font-weight: normal;
    }
  
    .podogrevatel-protochnyi {
      width: 80%;
      margin-top: 3%;
      display: flex;
      justify-content: space-between;
    }
  
    .podogrevatel-protochnyi__description {
      width: 55%;
      font-size: 1.2vw;
      align-self: center;
    }
  
    .podogrevatel-protochnyi__description table td {
      padding: 0.6em;
    }
  
    .cell-text-center {
      padding-left: 5%;
      text-align: center;
    }

    .cell-text-center span {
      display: block;
    }
  
    .podogrevatel-protochnyi__img {
      width: 40%;
    }
  