* {
  margin: 0;
  padding: 0; }

  body {
    font-family: Helios, sans-serif;
    overflow-x: hidden;
  }

  header {
    width: 100%;
    height: 0;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    padding-bottom: 10%;
   }
  
  .header__logo {
    width: 20%;
    height: auto;
    padding: 1% 0 1% 0;
    position: absolute;
    left: 2.5%; }
  
  .header__menu .header__menu-list {
    width: 40%;
    position: absolute;
    top: 40%;
    left: 25%;
    display: flex;
    justify-content: space-between;
    list-style-type: none; }
  .header__menu a {
    display: block;
    font-size: 1.2vw;
    text-decoration: none;
    color: #000;
    text-transform: uppercase; }
  
    .header__our-team {
      position: absolute;
      top: 40%;
      left: 70%;
      margin-left: 0%;
      color: #000;
      text-decoration: none;
      font-size: 1.2vw;
      text-transform: uppercase;
    }
  
  .header__tel-img {
    width: 2.5%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 85%; }
  
  .header__tel-number-top {
    position: absolute;
    top: 28%;
    left: 88%;
    font-size: 1.2vw; }
  
  .header__tel-number-bottom {
    position: absolute;
    top: 47%;
    left: 88%;
    font-size: 1.2vw; }


.vodopodgotovka__wrapper {
  width: 100vw;
  margin: 13.5% 0 0 0;
  box-sizing: border-box;
  display: flex;
  font-size: 1.2vw;
 }

 .site-path {
  width: 96.5%;
  padding: 1% 1% 1% 0;
  background: #D3D3D3;
  position: sticky;
  top: 8em;
  left: 2.5vw;
  z-index: 1;
  font-size: 1.2vw;
  text-transform: uppercase;
  
  }

aside {
  flex: 0 0 30%;
  margin-top: 0%;
}

  .aside__lists {
    margin: 13% 2.5%;
  }

  .aside__lists:first-child {
    position: absolute;
    top: 0;
  }

  .aside__lists ul {
    margin-top: 15%;
  }

  aside ul {
    font-size: 1.1em;
    text-transform: uppercase;
    list-style-type: none; }
  
  aside a {
      color: #000;
      text-decoration: none;
  }

  main {
      flex: 0 0 70%;
      margin: 0 0 130px 0;
      position: relative;
  }

  .main__title {
    font-size: 1.5vw;
    font-weight: normal;
    text-transform: uppercase;
  }

  .filter {
    width: 100%;
    display: flex;
    font-weight: 1.2vw;
  }

  .filter__description-block {
    width: 60%;
  }

  .filter__description-text {
    display: block;
    margin-top: 5%;
  }

  .filter__list {
    margin-top: 5%;
    list-style-type: none;
  }

    .filter__list li {
      margin-top: 2%;
    }
  

  .filter__img {
    display: block;
    width: 40%;
  }

  footer {
    width: 100%;
    margin-top: 28%;
    display: flex;
    justify-content: space-around;
    background: #D3D3D3;
    color: #000; }
    footer h3 {
      font-size: 1.5vw;
      text-transform: uppercase;
      font-weight: bold; }
    footer span {
      font-size: 1.3vw; }
  
  .footer__contacts {
    flex: 0 0 32%; }
    .footer__contacts h3 {
      display: block;
      position: absolute;
      margin: 2% 0 0 1.3%; }
    .footer__contacts .footer__position {
      width: 80%;
      display: flex;
      margin: 13.5% 0 0 4%; }
    .footer__contacts .footer__contacts-position-adress {
      display: flex;
      flex-flow: column wrap;
      margin-left: 0px; }
      .footer__contacts .footer__contacts-position-adress span {
        display: block; }
    .footer__contacts .footer__tel {
      display: flex;
      margin: 2% 0 0 4%; }
    .footer__contacts .footer__tel-numbers {
      display: flex;
      flex-flow: column wrap;
      margin: 0px 0 0 0px; }
      .footer__contacts .footer__tel-numbers span {
        display: block; }
    .footer__contacts .footer__email {
      display: flex;
      align-items: center;
      margin: 2% 4%; }
    .footer__contacts .footer__email-text {
      margin: 0 0 0 0; }
  
  .footer__inform {
    flex: 0 0 32%; }
    .footer__inform h3 {
      display: block;
      margin-top: 6.5%; }
    .footer__inform .footer__inform-text {
      margin-top: 2%; }
    .footer__inform span {
      display: block; }
    .footer__inform .footer__inform-span-2 {
      margin-top: 5px; }
  
  .footer__news {
    flex: 0 0 28%; }
    .footer__news h3 {
      display: block;
      margin-top: 7.5%; }
    .footer__news .footer__news-text {
      margin-top: 2%; }
  
    .footer__news .footer__news-text span {
      display: block;
      margin-top: 2%; }