  .main__title {
    font-size: 1.5vw;
    font-weight: normal;
    text-transform: uppercase;
  }

  .filter {
    width: 95%;
    display: flex;
    font-weight: 1.2vw;
  }

  .filter__description-block {
    width: 60%;
  }

  .filter__description-text {
    display: block;
    margin-top: 5%;
  }

  .filter__list {
    margin-top: 5%;
    list-style-type: none;
  }

    .filter__list li {
      margin-top: 2%;
    }
  

  .filter__img {
    display: block;
    width: 40%;
  }