  .main__title {
      position: absolute;
      top: 0;
      font-size: 1.5vw;
      font-weight: normal;
    }

    .main__description {
      font-size: 1.3vw;
      margin-top: 5%;
      box-sizing: border-box;
      font-weight: normal;
    }

    .filters {
      width: 100%;
      margin-top: 5%;
      display: flex;
    }


    .filter {
      flex: 0 0 30%;
    }

    .filter__img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }

    .filter__text {
      width: 100%;
      text-align: left;
      margin-top: 5%;
    }

    .filter__text span {
      display: block;
      margin-top: 3%;
      font-size: 1.2vw;
    }
