  .main__title {
    font-size: 1.5vw;
    font-weight: normal;
    text-transform: uppercase;
  }

  .filters {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .filter {
    width: 90%;
    display: flex;
  }

  .filter img {
    width: 40%;
  }


  .filter__description {
    flex-basis: 60%;
  }

  .filter-center {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }

  .filter-center img {
    display: block;
    margin-right: 5%;
  }

  .filter-center h4 {
    margin: 0 0 0 15%;
  }

  .filter-center  ul {
    margin: 0 0 0 15%;
  }

  .filter__description h4 {
    display: block;
    margin-top: 5%;
    font-size: 1.3vw;
    font-weight: normal;
  }

  .filter__description span {
    display: block;
    margin-top: 5%;
    font-size: 1.2vw;
  }

  .filter__description ul {
    margin-top: 5%;
    font-size: 1.2vw;
    list-style-type: none;
  }

  .filter__description ul li {
    margin-top: 2%;
  }

  .samples {
    width: 100%;
    margin-top: 5%;
    text-align: center;
  }

  .samples h2 {
    font-size: 2vw;
    font-weight: normal;
  }

  .samples img {
    width: 75%;
    margin: 0 auto;
  }