    .main__title {
      text-transform: uppercase;
      font-size: 1.5vw;
      font-weight: normal;
    }

    .title {
      display: block;
      width: 30%;
      margin: 3% auto;
      font-size: 1.3vw;
      text-transform: uppercase;
      font-weight: normal;
    }

    .container {
      width: 60%;
      margin: 3% 0;
      display: flex;
      justify-content: space-between;
    }
  
    .container__description {
      align-self: center;
      font-size: 1.2vw;
    }
  
    .container__description table td {
      padding: 0.5em;
    }
  
    .cell-text-center {
      padding-left: 5%;
      text-align: center;
    }
  
    .container__img {
      width: 30%;
    }

    .container-ab__img {
      width: 30%;
    }

    .container-cdef__description {
      width: 60%;
      align-self: center;
      font-size: 1.2vw;
    }

    .container-cdef__description table td {
      padding: 0.5em;
    }

    .container-cdef__img {
      width: 40%;
    }