@font-face {
	font-family: 'helios cond';
	src: url('../fonts/helios_cond.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helios_cond.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helios_cond.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helios_cond.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helios_cond.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helios_cond.svg#helios_cond') format('svg'); /* Chrome < 4, Legacy iOS */
}