@media screen and (max-width: 800px){
    .contact {
        width: 100%;
        text-align: center;
    }

    .contact__border-top {
        width: 80%;
        height: 1px;
        margin: 75px auto;
        background: #e4e8e8;
    }

    .contact__title {
        margin-top: 74px;
        color: $red-color;
        font-size: 34px;
    }

    .form {
        width: 64%;
        margin: 75px auto;
    }

    .contact__form-elem {
        display: block;
        background: #e4e8e8;
        border-radius: 5px;
        color: #000000;
        padding: 3%;
        box-sizing: border-box;
    }

    .contact__inputs {
        width: 100%;
        height: 150px;
    }
    
    .contact__name {
        width: 100%;
        height: 73px;
        border: none;
    }

    .contact__email {
        width: 100%;
        height: 73px;
        margin-top: 1vh;
        border: none;
    }

    .contact__message {
        width: 100%;
        height: 250px;
        margin-top: 2vh;
        border: none;
    }

    .contact__btn {
        display: block;
        width: 50%;
        margin: 30px auto;
        padding: 1em 2em;
        background: $red-color;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 801px){
    .contact {
        text-align: center;
    }

    .contact__border-top {
        width: 80%;
        height: 1px;
        margin: 75px auto;
        background: #e4e8e8;
    }

    .contact__title {
        margin-top: 74px;
        color: $red-color;
        font-size: 34px;
    }

    .form {
        width: 64%;
        margin: 75px auto;
    }

    .contact__form-elem {
        background: #e4e8e8;
        border-radius: 5px;
        color: #000000;
        padding: 3%;
        box-sizing: border-box;
    }

    .contact__inputs {
        width: 100%;
        height: 73px;
        display: flex;
        justify-content: space-between;
    }
    
    .contact__name {
        flex-basis: 48%;
        height: 73px;
        border: none;
    }

    .contact__email {
        flex-basis: 48%;
        height: 73px;
        border: none;
    }

    .contact__message {
        width: 100%;
        height: 250px;
        margin-top: 1vh;
        border: none;
    }

    @media screen and (min-width: 1800px){
        .contact__message {
            margin-top: 3vh;
        }
    }

    .contact__btn {
        display: block;
        width: 50%;
        margin: 30px auto;
        padding: 1em 2em;
        background: $red-color;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }

}