.banner {
    width: 100%;
    padding: 150px 0 0;
    background: url("../../../../Variety template/app/header/img/header.png") no-repeat center;
    background-size: cover;
    text-align: center;


    .banner__title {
        color: #fff;
        font-size: 5vw;
        
        @media (max-width: $breakpoint-mobile) {
            font-size: 8vw;
            padding-top: 30px;
        }
    }

    .banner__line {
        width: 80%;
        height: 1px;
        margin: 0px auto 20px;
        background-color: #fff;
    }

    .banner__design-kinds {
        display: block;
        color: #fff;
        font-size: 3vw;

        @media (max-width: $breakpoint-mobile) {
            font-size: 5vw;
        }
    }

    .banner__btn {
        width: 40%;
        padding: 20px 0;
        margin: 50px auto 0;
        transform: translateY(30%);
        background: #e74c3c;
        border: 6px solid rgba(241,150,140,0.50);
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2vw;

        @media (max-width: $breakpoint-mobile) {
            padding: 10px 0;
            font-size: 2.5vw;
        }
    } 
}
