footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Helios, sans-serif;

    h3 {
        font-size: 1.5em;
        text-transform: uppercase;
    }

    span {
        font-size: 1.2em;
    }

    img {
        width: 10%;
        height: 50px;
        margin-left: 7%;
    }
}

.footer__contacts {
    flex: 0 0 32%;

    h3 {
        display: block;
        margin: 20px 0 0 7%;
    }

    .footer__contacts-position {
        display: flex;
        margin-top: 50px;

        img {
            height: 50px;
        }
    }
    
    .footer__contacts-position-adress {
        margin-left: 15px;
        display: flex;
        flex-flow: column wrap;
        
        span {
            display: block;
        }
    }

    .footer__contacts-tel {
        display: flex;

        .footer__tel-numbers {
            margin: 5px 0 0 15px;
            display: flex;
            flex-flow: column wrap;

            span {
                display: block;
            }
        }
    }

    .footer__contacts-email {
        display: flex;
        margin: 10px 0 10px 0;

        span {
            display: block;
            margin: 15px 0 10px 15px;
        }
    }
}

.footer__inform {
    flex: 0 0 32%;

    h3 {
        display: block;
        margin-top: 20px;
    }

    .footer__inform-text {
        margin-top: 25px;
    }

    span {
        display: block;
    }

    .footer__inform-span-2 {
        margin-top: 10px;
    }

}

.footer__news {
    flex: 0 0 28%;

    h3 {
        display: block;
        margin-top: 20px;
    }

    .footer__news-text {
        margin-top: 50px;
    }

    span {
        display: block;
        margin-bottom: 15px;
    }
}