footer {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-family: Helios, sans-serif;

    h3 {
        font-size: 1.5vw;
        text-transform: uppercase;
        font-weight: bold;
    }

    span {
        font-size: 1.3vw;
    }

    
}

.footer__contacts {
    flex: 0 0 32%;

    h3 {
        display: block;
        position: absolute;
        margin: 20px 0 0 2.5%;
    }

    img {
        width: 2.5vw;
        height: 50px;
        margin-left: 2.5%;
    }

    .footer__position {
        display: flex;
        margin: 80px 0 0 5%;
    }
    
    .footer__contacts-position-adress {
        display: flex;
        flex-flow: column wrap;
        margin-left: 10px;
        
        span {
            display: block;
        }
    }

    .footer__tel {
        display: flex;
        margin: 10px 0 0 5%;
    }
    .footer__tel-numbers {
        display: flex;
        flex-flow: column wrap;
        margin: 10px 0 0 10px;

        span {
            display: block;
        }
    }

    .footer__email {
        display: flex;
        align-items: center;
        margin: 10px 5%;
    }

    .footer__email-text {
        margin: 10px 0 0 10px;
    }
}

.footer__inform {
    flex: 0 0 32%;

    h3 {
        display: block;
        margin-top: 20px;
    }

    .footer__inform-text {
        margin-top: 30px;
    }

    span {
        display: block;
    }

    .footer__inform-span-2 {
        margin-top: 10px;
    }

}

.footer__news {
    flex: 0 0 28%;

    h3 {
        display: block;
        margin-top: 20px;
    }

    .footer__news-text {
        margin-top: 30px;
    }

}