.questions-answers {
        width: 100%;
        margin-top: 30px;
    }

    .questions-answers__question {
        position: relative;
        background: #f4f4f4;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;

        .questions-answers__arrow-down {
            position: absolute;
            top: 18%;
            right: 5%;
            cursor: pointer;
        }

        .questions-answers__question-text {
            font-size: 16px;
        }

        @media screen and (min-width: 352px) and (max-width: 385px) {
            .questions-answers__question-text {
                font-size: 14px;
            }
        }
    }

    .rotate-angle-down {
        transform: rotate(180deg);
    }

    .questions-answers__answer {
        display: none;
    }

    .open-block {
        display: block;
    }


    .questions-answers__answer-text {
        margin-top: 10px;
    }
