.link_hover {
  background-color: #1B3039;
}
body {
  background-color: #B17E4F;
  font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body #name {
  margin-top: 50px;
  margin-left: 200px;
  font-size: 50px;
  color: #ffffff;
}
body #name a {
  text-decoration: none;
  color: #fff;
}
body #author {
  float: right;
  margin-top: -70px;
  margin-right: 200px;
  color: #CEB6A4;
}
#wrapper {
  width: 970px;
  height: 1300px;
  margin: -30px auto 30px auto;
  background-color: #ffffff;
}
#wrapper .text_lightgreen {
  color: #d1e4a7;
}
#wrapper header {
  position: relative;
  width: 930px;
  height: 300px;
  margin-top: 20px;
}
#wrapper header nav {
  position: absolute;
  position: relative;
  top: 20px;
  right: 20px;
  left: 20px;
  width: 910px;
  height: 40px;
  background-color: #000;
}
#wrapper header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrapper header nav ul li {
  flex-basis: 20%;
  list-style-type: none;
}
#wrapper header nav ul li a {
  display: block;
  padding: 10px 0px 15px 0px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
#wrapper header nav ul li a:hover {
  background-color: #1B3039;
}
#wrapper header nav ul li #active {
  margin-left: -40px;
  background-color: #1B3039;
}
#wrapper header #img img {
  position: absolute;
  top: 80px;
  right: 20px;
  left: 20px;
  max-width: 910px;
}
#wrapper #main_content {
  width: 910px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#wrapper #main_content #section_left {
  flex-basis: 60%;
  height: 300px;
}
#wrapper #main_content #section_left article h2 a {
  color: #9F6841;
  font-size: 30px;
}
#wrapper #main_content #section_left article p {
  padding-top: 20px;
  text-align: justify;
}
#wrapper #main_content #section_left a {
  color: #96ae3e;
  text-decoration: none;
}
#wrapper #main_content aside {
  flex-basis: 35%;
  padding: 20px 0;
}
#wrapper #main_content aside section {
  width: 300px;
  height: 280px;
  margin-bottom: 10px;
  background-color: #efede5;
}
#wrapper #main_content aside section h3 {
  display: inline-block;
  width: 260px;
  background-color: #5d9ebd;
  margin: 10px 10px 0 10px;
  padding: 10px;
  color: #ffffff;
}
#wrapper #main_content aside section li {
  margin-top: 20px;
  margin-left: -20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #E8E6DE;
  list-style-type: none;
}
#wrapper #main_content aside section li a {
  color: #96ae3e;
  text-decoration: none;
}
#wrapper #main_content aside section #aside_center_p {
  margin-left: 10px;
  padding: 0 25px 0 10px;
  text-align: justify;
  line-height: 30px;
  font-size: 15px;
  color: #000;
  border-bottom: none;
}
#wrapper footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 930px;
  height: 50px;
  margin: 0 20px -40px 20px;
  background-color: #d1e4a7;
}
#wrapper footer a {
  text-decoration: none;
}
#wrapper footer .text_darkgreen {
  color: #96ae3e;
}
